{% extends "valiance/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/lomba_rakwala.css') }}">
	<script src="{{ url_for('static', filename='valiance/js/e_questival.js') }}" defer></script>

	<script>
		let enableSend = true;
		document.addEventListener("DOMContentLoaded", () => {
			const scriptURL = 'https://script.google.com/macros/s/AKfycbzKIn9VG3ntGU-RVs1TuraVXzSjPGoks5cFbRr5onolFzMh-vCgtLrZRVo48jpHOTZl/exec';
			const form = document.getElementById("dynamicForm");
			const formStatus = document.getElementById("formStatus");
			const popupOverlay = document.getElementById("popupOverlay");
			const closeButton = document.getElementById("closeButton");
	
			popupOverlay.addEventListener('click', function(e) {
				if (e.target === this) {
					closePopup();
				}
			});
	
			closeButton.addEventListener('click', closePopup);
			closeButton.addEventListener('touchend', function(e) {
				e.preventDefault();
				closePopup();
			});
	
			form.addEventListener("submit", e => {
				if (enableSend){
					e.preventDefault();
					formStatus.textContent = "Mengirim data...";
					formStatus.className = "status";
					enableSend = false;
					const formData = new FormData(form);
					formData.append("formType", "Lomba Estafet Air");
	
					fetch(scriptURL, { method: "POST", body: formData })
						.then(response => response.json())
						.then(data => {
							if (data.status === "success") {
								formStatus.textContent = "";
								form.reset();
								showPopup();
							} else if (data.status === "error" && data.message === "Peserta sudah penuh") {
								formStatus.textContent = "Peserta sudah penuh. Tidak bisa mendaftar.";
								formStatus.className = "status error";
							} else {
								throw new Error(data.message || "Gagal mengirim data.");
							}
							enableSend = true;
						})
						.catch(error => {
							formStatus.textContent = "Gagal mengirim data. Silakan coba lagi.";
							formStatus.className = "status error";
							console.error("Error!", error.message);
							enableSend = true;
						});
				}
			});
		});
	
		function showPopup() {
			document.getElementById("popupOverlay").style.display = "flex";
		}
	
		function closePopup() {
			document.getElementById("popupOverlay").style.display = "none";
		}
	</script>
{% endblock css_js %}

{% block title %}Lomba Estafet Air{% endblock title %}

{% block main %}

	<!-- MEKANISME DAN POSTER -->
	<div class="container">
		<div>
		<h1 class="title">Lomba Estafet Air</h1>
		<div class="mechanism">
				<h4 class="sub-title">MEKANISME PERTANDINGAN:</h4>
				<ol>
					<li>Setiap kelompok wajib berisikan 5 orang.</li>
					<li>Permainan akan dilakukan dengan metode eliminasi.</li>
					<li>Permainan akan dilakukan selama 2-5 menit setiap ronde.</li>
					<li>Setiap peserta akan memakai penutup mata yang telah disediakan panitia.</li>
					<li>Para peserta akan membentuk 1 barisan dan terdapat wadah di belakang pemain terakhir.</li>
					<li>Peserta pertama akan mulai mengambil air di wadah yang telah disediakan, lalu mulai memindahkan air ke pemain selanjutnya.</li>
					<li>Air harus dipindahkan sampai pemain terakhir, lalu pemain terakhir akan memindahkan air tersebut dengan cara meraba dan menebak posisi wadah yang telah disediakan.</li>
					<li>Tim dengan takaran air terbanyak otomatis akan menjadi pemenang.</li>
				</ol>
		</div>
		<div class="rules">
				<h4 class="sub-title">RULES:</h4>
				<ol>
					<li>Setiap peserta dilarang membuka/mengintip penutup mata masing-masing.</li>
					<li>Setiap peserta dilarang berbicara atau memberikan instruksi secara verbal, hanya boleh mengandalkan insting atau diraba saja.</li>
					<li>Setiap kelompok dilarang memindahkan air langsung ke wadah terakhir tanpa melakukan estafet.</li>
					<li>Setiap kelompok dilarang mengubah urutan barisan selama permainan berlangsung.</li>
					<li>Setiap peserta dilarang memprovokasi peserta atau tim lainnya.</li>
					<li>Wadah yang dipakai harus digunakan dengan hati-hati. jika jatuh, maka tim akan tetap melanjutkan dengan wadah yang sama.</li>
					<li>Jika terdapat tim atau peserta yang melakukan kecurangan, maka akan langsung didiskualifikasi.</li>
					<li>Keputusan juri sudah tidak dapat diganggu gugat.</li>
				</ol>
		</div>
		</div>
		<img 
			src="{{ url_for('static', filename='valiance/img/rakwala/l_estafet.jpg') }}"
			alt="Lomba Estafet Air"
		></img>
	</div>
					
	<!-- Registration -->
	<h2 class="regis">Registration</h2>
	<div class="form-container mb-3">
	    <form id="dynamicForm" onsubmit="return false;">

	        <!-- 1 -->
             <div class="form-group">
	            <label for="nama-kapten">Nama Kapten:</label>
	            <input type="text" id="nama-kapten" name="nama-kapten" required>
	        </div>

	        <!-- 2 -->
	        <div class="form-group">
	            <label for="nama-anggota-1">Nama Anggota 1:</label>
	            <input type="text" id="nama-anggota-1" name="nama-anggota-1" required>
	        </div>

			<!-- 3 -->
	        <div class="form-group">
	            <label for="nama-anggota-2">Nama Anggota 2:</label>
	            <input type="text" id="nama-anggota-2" name="nama-anggota-2" required>
	        </div>

            <!-- 4 -->
            <div class="form-group">
	            <label for="nama-anggota-3">Nama Anggota 3:</label>
	            <input type="text" id="nama-anggota-3" name="nama-anggota-3" required>
	        </div>

            <!-- 5 -->
            <div class="form-group">
	            <label for="nama-anggota-4">Nama Anggota 4:</label>
	            <input type="text" id="nama-anggota-4" name="nama-anggota-4" required>
	        </div>

	        <!-- Input Kelas -->
	        <div class="form-group">
	            <label for="kelas">Kelas:</label>
	            <input type="text" id="kelas" name="kelas" required>
	        </div>

	        <!-- Input ID Line -->
	        <div class="form-group">
	            <label for="idline">ID Line:</label>
	            <input type="text" id="idline" name="idline" required>
	        </div>

            <input type="hidden" id="maxParticipants" name="maxParticipants" value="16">
	        <button type="submit">Kirim</button>
	    </form>
	    <div class="status" id="formStatus"></div>
	</div>

	<!-- Popup Overlay -->
	<div id="popupOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 9999; justify-content: center; align-items: center;">
		<div style="background: rgb(222, 216, 196); color: black; padding: 20px; border-radius: 10px; width: 90%; max-width: 400px; margin: 20px;">
			<div class="modal-body">
				<p>Formulir berhasil dikirim! 🎉</p>
				<a href="https://line.me/ti/g/_jjrmY8L43" target="_blank">Klik di sini untuk join grup Line</a>
	        <br><br>
			</div>
			<button 
				id="closeButton"
				style="padding: 10px 20px; background: rgb(124, 28, 28); color: white; border: none; border-radius: 5px; cursor: pointer; margin-top: 10px; user-select: none; -webkit-user-select: none; -webkit-tap-highlight-color: transparent; touch-action: manipulation;"
			>Tutup</button>
		</div>
	</div>
	<svg
	    class="waves-footer"
	    xmlns="http://www.w3.org/2000/svg"
	    viewBox="0 0 1440 320"
	  >
	    <path
	      fill-opacity="1"
	      d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
	    ></path>
	</svg>
{% endblock main %}