{% extends "asteration/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asteration/css/about.css') }}">
{% endblock css_js %}

{% block title %}About Us{% endblock title %}

{% block main %}
	<section class="we-are-asteration">
		<p id="left">WE ARE<br>ASTERATION</p>
		<img id="right" src="https://cdn.discordapp.com/attachments/1174164611499569313/1288666885956698142/transparent_logo.png?ex=66f6040f&is=66f4b28f&hm=8dac5c5955404ce0c04268bd209ebfe64d2077e4cc904679e7547fb69777458d&">
	</section>

	<section class="daftar-isi">
		<p>
			<a href="#top-3">TOP 3</a> |
			<a href="#sekretaris">SEKRETARIS</a> |
			<a href="#bendahara">BENDAHARA</a> |
			<a href="#bela-negara">BELA NEGARA</a> |
			<a href="#mm-web">MULTIMEDIA WEBSITE</a> |
			<a href="#mm">MULTIMEDIA ON-FIELD</a> |
			<a href="#sekretariat">SEKRETARIAT</a> |
			<a href="#dokumentasi">DOKUMENTASI</a> |
			<a href="#kreatif">KREATIF</a> |
			<a href="#sosial">SOSIAL</a> |
			<a href="#publikasi">HUMAS DAN PUBLIKASI</a> |
			<a href="#ketuhanan">KETUHANAN YANG MAHA ESA</a> |
			<a href="#bahasa">BAHASA</a> |
			<a href="#apresiasi-seni">APRESIASI SENI DAN OLAHRAGA</a> |
			<a href="#komunikasi">KOMUNIKASI</a> |
			<a href="#editor">VIDEO EDITOR</a> |
			<a href="#illustrator">ILLUSTRATOR</a> |
			<a href="#script_writer">SCRIPT WRITER</a> |
			<a href="#acting">ACTRESS</a>
		</p>
	</section>

	<!-- TOP 3 -->
	<section class="foto-sekbid" id="top-3">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/top_3.png') }}">

		<div class="personal-card">

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/jessslyn.evania/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/jess.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">8</div>
				<hr>
				<div class="info">
					<p id="name">Jesslyn Evania Y. K.</p>
					<p id="panggilan"><em>/jess/</em></p>
					<p id="jabatan">Wakil Ketua Osis I</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/renatabrigitta/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/tata.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">1</div>
				<hr>
				<div class="info">
					<p id="name">Renata Brigitta</p>
					<p id="panggilan"><em>/tata/</em></p>
					<p id="jabatan">Ketua Osis</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/ctrn.99/">

					<img src="{{ url_for('static', filename='asteration/foto_about_us/cath.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">9</div>
				<hr>
				<div class="info">
					<p id="name">Catharine Fidelya Amran</p>
					<p id="panggilan"><em>/cath cath/</em></p>
					<p id="jabatan">Wakil Ketua Osis II</p>
				</div>
			</div>
		</div>
	</section>

	<!-- SEKRETARIS -->
	<section class="foto-sekbid" id="sekretaris">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/SEKRETARIS.png') }}">

		<div class="personal-card">
			<div class="each-info">
				<a href="https://www.instagram.com/zahiraanasyr/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/zahira.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">84</div>
				<hr>
				<div class="info">
					<p id="name">Zahira Nasywa Rumaisha</p>
					<p id="panggilan"><em>/raya zuzu/</em></p>
					<p id="jabatan">Sekretaris</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/michelle_aneurin/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/michelle.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">99</div>
				<hr>
				<div class="info">
					<p id="name">Michelle Aneurin</p>
					<p id="panggilan"><em>/ny/</em></p>
					<p id="jabatan">Wakil Sekretaris</p>
				</div>
			</div>
		</div>
	</section>

	<!-- BENDAHARA -->
	<section class="foto-sekbid" id="bendahara">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/bendahara.png') }}">

		<div class="personal-card">
			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/ceizaclaricelle/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/ceiza.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">23</div>
				<hr>
				<div class="info">
					<p id="name">Ceiza Claricelle Sadikin</p>
					<p id="panggilan"><em>/ceiza/</em></p>
					<p id="jabatan">Bendahara</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/celinensan/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/celine.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">19</div>
				<hr>
				<div class="info">
					<p id="name">Celine Natifa Sanny</p>
					<p id="panggilan"><em>/celine/</em></p>
					<p id="jabatan">Wakil Bendahara</p>
				</div>
			</div>
		</div>
	</section>

	<!-- BELA NEGARA -->
	<section class="foto-sekbid" id="bela-negara">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/belneg.png') }}">

		<div class="personal-card">

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/chrisrainito/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/chris.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">12</div>
				<hr>
				<div class="info">
					<p id="name">Chrisrainito Core</p>
					<p id="panggilan"><em>/chris/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/felygrls/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/feli.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">15</div>
				<hr>
				<div class="info">
					<p id="name">Felicia Griselda Hendry</p>
					<p id="panggilan"><em>/bbbyou/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/syahdansu/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/syahdan.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">20</div>
				<hr>
				<div class="info">
					<p id="name">Syahdan Rafi Akram</p>
					<p id="panggilan"><em>/syahdan/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/michelleangelieque/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/michelle_3.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">31</div>
				<hr>
				<div class="info">
					<p id="name">Michelle Angelieque G</p>
					<p id="panggilan"><em>/quee/ /kuee/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/celliquor/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/joce.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">33</div>
				<hr>
				<div class="info">
					<p id="name">Jocelline Chrestella E. T.</p>
					<p id="panggilan"><em>/joce/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/gabrielayln/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/gab_2.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">79</div>
				<hr>
				<div class="info">
					<p id="name">Gabriela Yocelyn</p>
					<p id="panggilan"><em>/gaby/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/tiatambunan_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/tia.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">73</div>
				<hr>
				<div class="info">
					<p id="name">Sulystiawaty Tambunan</p>
					<p id="panggilan"><em>/tia/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/aura.chantika_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/aura.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">22</div>
				<hr>
				<div class="info">
					<p id="name">Aura Chantika Salsabila</p>
					<p id="panggilan"><em>/aura/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Multimedia Website-->
	<section class="foto-sekbid" id="mm-web">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/mm_web.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/kevinwlbrtj/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/kepin.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">77</div>
				<hr>
				<div class="info">
					<p id="name">Kevin Wilbert Johan</p>
					<p id="panggilan"><em>/kepin/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/zh.giii/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/luigi.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">41</div>
				<hr>
				<div class="info">
					<p id="name">Luigi Emiliandra</p>
					<p id="panggilan"><em>/lugi/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<img src="{{ url_for('static', filename='asteration/foto_about_us/timot.png') }}">
				<div class="nomor-jersey">75</div>
				<hr>
				<div class="info">
					<p id="name">Timothy Dhammatta Y</p>
					<p id="panggilan"><em>/timot/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Multimedia Onfield -->
	<section class="foto-sekbid" id="mm">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/mm_field.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/austin.uno.888/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/austin.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">35</div>
				<hr>
				<div class="info">
					<p id="name">Austin Uno Hendri</p>
					<p id="panggilan"><em>/austin/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/marvin_ar_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/marvin.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">30</div>
				<hr>
				<div class="info">
					<p id="name">Marvin Alvianus R</p>
					<p id="panggilan"><em>/marpin/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ard16._/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/dapa.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">16</div>
				<hr>
				<div class="info">
					<p id="name">Ahmad Rizki Daffaa</p>
					<p id="panggilan"><em>/dapaa/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/fabian_siauw/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/fab_2.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">95</div>
				<hr>
				<div class="info">
					<p id="name">Fabian Siauw</p>
					<p id="panggilan"><em>/siauw/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/alif.danendra_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/alif_2.png') }}" alt="">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">69</div>
				<hr>
				<div class="info">
					<p id="name">Alif Danendra</p>
					<p id="panggilan"><em>/alip/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Sekretariat -->
	<section class="foto-sekbid" id="sekretariat">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/sekretariat.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/eujeandejolin/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/eujean.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">65</div>
				<hr>
				<div class="info">
					<p id="name">Eujean De Jolin</p>
					<p id="panggilan"><em>/eujean/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ant.rickyy/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/ricky.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">78</div>
				<hr>
				<div class="info">
					<p id="name">Antonius Ricky</p>
					<p id="panggilan"><em>/riki/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/keooowww/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/keolin.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">26</div>
				<hr>
				<div class="info">
					<p id="name">Keolin Juan Halim</p>
					<p id="panggilan"><em>/keolin/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/sshireen.s/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/shiren.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">36</div>
				<hr>
				<div class="info">
					<p id="name">Shireen Silvia</p>
					<p id="panggilan"><em>/shireen/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/gladysshnn_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/gladys.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">98</div>
				<hr>
				<div class="info">
					<p id="name">Gladys Theresia A. S.</p>
					<p id="panggilan"><em>/glad/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Dokumentasi -->
	<section class="foto-sekbid" id="dokumentasi">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/dokum.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/bagashyn_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/bagas.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">81</div>
				<hr>
				<div class="info">
					<p id="name">Bagas Farrel Haryana</p>
					<p id="panggilan"><em>/bagas/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/jonachenoa25/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/jona.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">25</div>
				<hr>
				<div class="info">
					<p id="name">Jonathan Chenoa</p>
					<p id="panggilan"><em>/jona/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/valiqakhaya/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/valiqa.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">13</div>
				<hr>
				<div class="info">
					<p id="name">Valiqa Khaya Nareshwari</p>
					<p id="panggilan"><em>/vali/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/wirafathi/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/wir.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">86</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Wira Fathi</p>
					<p id="panggilan"><em>/wir/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/kheisyamaharani_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/kheisya.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">54</div>
				<hr>
				<div class="info">
					<p id="name">Kheisya Mona Maharani</p>
					<p id="panggilan"><em>/teta/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Kreatif -->
	<section class="foto-sekbid" id="kreatif">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/kreatif.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/ay_leah/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/aleah.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">40</div>
				<hr>
				<div class="info">
					<p id="name">Ayleah Erwin Taufiek</p>
					<p id="panggilan"><em>/leah/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/benita_jf/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/ben.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">5</div>
				<hr>
				<div class="info">
					<p id="name">Benita Josephine Florency</p>
					<p id="panggilan"><em>/benbennn/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/rananaf_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/khairana.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">43</div>
				<hr>
				<div class="info">
					<p id="name">Khairana Nafiza klo</p>
					<p id="panggilan"><em>/rana/ /nanaa/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/iren.kenn/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/irene.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">97</div>
				<hr>
				<div class="info">
					<p id="name">Irene Octarian Kennedy</p>
					<p id="panggilan"><em>/iren/ /ren/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/icelangelineee/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/michelle_2.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">88</div>
				<hr>
				<div class="info">
					<p id="name">Michelle Angeline K</p>
					<p id="panggilan"><em>/icel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/philiareeves/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/lupen.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">28</div>
				<hr>
				<div class="info">
					<p id="name">Luvena Gladys</p>
					<p id="panggilan"><em>/upen/ /lupeng/ /lupen/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/nathanielliko/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/liko.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">14</div>
				<hr>
				<div class="info">
					<p id="name">Nathaniel Liko</p>
					<p id="panggilan"><em>/liko/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ximie._/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/meni.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">39</div>
				<hr>
				<div class="info">
					<p id="name">Meni Santia</p>
					<p id="panggilan"><em>/meni/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Sosial -->
	<section class="foto-sekbid" id="sosial">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/sosial.png') }}">

		<div class="personal-card">
			<div class="each-info">
				<a href="https://www.instagram.com/f.akilah._.b/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/akil.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">64</div>
				<hr>
				<div class="info">
					<p id="name">Faizah Akilah Bakoro</p>
					<p id="panggilan"><em>/akilah/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/arialistaputri_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/aria.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">7</div>
				<hr>
				<div class="info">
					<p id="name">Arialista Putri Heryanthi</p>
					<p id="panggilan"><em>/moeiscent/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/jsnn_mm/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/jas.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">82</div>
				<hr>
				<div class="info">
					<p id="name">Jason Marvel</p>
					<p id="panggilan"><em>/jason/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/fatikan___/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/ftk.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">59</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Fatik Yusuf</p>
					<p id="panggilan"><em>/fatik/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/andrewandrew47/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/and.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">62</div>
				<hr>
				<div class="info">
					<p id="name">Francisco Andrew</p>
					<p id="panggilan"><em>/andrew/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/cellne.tan/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/tan.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">10</div>
				<hr>
				<div class="info">
					<p id="name">Celine Aurelia Tan</p>
					<p id="panggilan"><em>/celine/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/charlesmaa_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/alam.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">37</div>
				<hr>
				<div class="info">
					<p id="name">Charles Martha Alam</p>
					<p id="panggilan"><em>/charles/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Publikasi -->

	<section class="foto-sekbid" id="publikasi">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/publi.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/raihanairan/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/raya.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">70</div>
				<hr>
				<div class="info">
					<p id="name">Aisyah Raya Raihana</p>
					<p id="panggilan"><em>/raya/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/shaphiera/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/pipi.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">91</div>
				<hr>
				<div class="info">
					<p id="name">Shafira Khairi</p>
					<p id="panggilan"><em>/pipie/ /koko/ /cimoet/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ameliyarn/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/amel.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">68</div>
				<hr>
				<div class="info">
					<p id="name">Amelia Ramadani</p>
					<p id="panggilan"><em>/amel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/farisz_naufal/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/fariz.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">49</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Farisz N. A.</p>
					<p id="panggilan"><em>/faris/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/raisyahraraa/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/raisya.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">80</div>
				<hr>
				<div class="info">
					<p id="name">Raisyah Zahrani Putri</p>
					<p id="panggilan"><em>/rara/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/gabriellaangelica____/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/ella.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">67</div>
				<hr>
				<div class="info">
					<p id="name">Gabriella Shalisha A</p>
					<p id="panggilan"><em>/angel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Ketuhanan -->

	<section class="foto-sekbid" id="ketuhanan">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/ketuhanan.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/justine_pratama_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/just.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">3</div>
				<hr>
				<div class="info">
					<p id="name">Justine Pratama</p>
					<p id="panggilan"><em>/justine/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/caaaa.rebec/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/eca.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">24</div>
				<hr>
				<div class="info">
					<p id="name">Rebecca Dwioctania</p>
					<p id="panggilan"><em>/echa/ /rebe/ /becca/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/grcw_grsng/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/dear.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">0</div>
				<hr>
				<div class="info">
					<p id="name">Gracia Dearis Girsang </p>
					<p id="panggilan"><em>/dear/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/marceliaangel_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/marc.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">92</div>
				<hr>
				<div class="info">
					<p id="name">Marcelia Angel Purba</p>
					<p id="panggilan"><em>/angel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/msatrialfahri/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/sat.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">56</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Satria Alfahri</p>
					<p id="panggilan"><em>/physics lover/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Bahasa -->

	<section class="foto-sekbid" id="bahasa">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/bahasa.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/denataans/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/denata.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">38</div>
				<hr>
				<div class="info">
					<p id="name">Denata Wijaya Ansyori</p>
					<p id="panggilan"><em>/denata/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/syalomita_shar/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/syalo.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">72</div>
				<hr>
				<div class="info">
					<p id="name">Syalomita Sharlen Yap</p>
					<p id="panggilan"><em>/syalo/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/b_nathaliiie/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/nata.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">87</div>
				<hr>
				<div class="info">
					<p id="name">Nathalie Budiman</p>
					<p id="panggilan"><em>/nat/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/vvionaavv/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/viona.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">52</div>
				<hr>
				<div class="info">
					<p id="name">Aurellia Viona Vigores</p>
					<p id="panggilan"><em>/viona/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Apresiasi Seni -->

	<section class="foto-sekbid" id="apresiasi-seni">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/seni_olahraga.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/yudhstra___/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/yudis.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">90</div>
				<hr>
				<div class="info">
					<p id="name">Rahmat Yudhistira</p>
					<p id="panggilan"><em>/yudis/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/alifpentanoval/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/alif.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">72</div>
				<hr>
				<div class="info">
					<p id="name">Alif Pentanoval</p>
					<p id="panggilan"><em>/alif/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/kita.sya/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/niki.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">57</div>
				<hr>
				<div class="info">
					<p id="name">Nikitasya Gita Laurensia</p>
					<p id="panggilan"><em>/niki/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/nagitaaliya_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/nagita.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">66</div>
				<hr>
				<div class="info">
					<p id="name">Nagita Aliya Sanopa</p>
					<p id="panggilan"><em>/geetak/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/m_yusuf_aja/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/yusuf.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">61</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Yusuf</p>
					<p id="panggilan"><em>/yusuf/ /turu man/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/f_lloiwee.08/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/kei.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">93</div>
				<hr>
				<div class="info">
					<p id="name">Keisya Audrey</p>
					<p id="panggilan"><em>/kaisya/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/mulkiraja19/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/raja.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">60</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Sultan M. R.</p>
					<p id="panggilan"><em>/raja/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>
			
			<div class="each-info">
				<a href="https://www.instagram.com/evelinnthnia/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/evelin.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">85</div>
				<hr>
				<div class="info">
					<p id="name">Eveline Nathania</p>
					<p id="panggilan"><em>/eve/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>
			
			<div class="each-info">
				<a href="https://www.instagram.com/hildaaimya/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/ime.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">58</div>
				<hr>
				<div class="info">
					<p id="name">Hilda Ime Maya</p>
					<p id="panggilan"><em>/hilda/ /hero mobile legend/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Komunikasi -->
	<section class="foto-sekbid" id="komunikasi">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/komunikasi.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/austryne_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/trin.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">6</div>
				<hr>
				<div class="info">
					<p id="name">Austrin Athalia Utami</p>
					<p id="panggilan"><em>/aussie/ /oik/ /cece mc/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/aurererererel/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/rel.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">51</div>
				<hr>
				<div class="info">
					<p id="name">Aurelliana Lakeisha J</p>
					<p id="panggilan"><em>/aurel/ /oler/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/klln.ntlne/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/kell.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">17</div>
				<hr>
				<div class="info">
					<p id="name">Kellen Nataline</p>
					<p id="panggilan"><em>/kellen/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/nadinefian/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/nad.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">32</div>
				<hr>
				<div class="info">
					<p id="name">Nadine Arista Fian</p>
					<p id="panggilan"><em>/nadine/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/kheiren_khei/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/khei.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">11</div>
				<hr>
				<div class="info">
					<p id="name">Kheiren Valentine H</p>
					<p id="panggilan"><em>/khei/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/vyandrtha/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/tata_2.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">42</div>
				<hr>
				<div class="info">
					<p id="name">Lyquitha Vyandra</p>
					<p id="panggilan"><em>/tata/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/fzzzell/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/faiz.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">83</div>
				<hr>
				<div class="info">
					<p id="name">Faiz Daniswara Eltri</p>
					<p id="panggilan"><em>/faiz/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Vidio Editor -->
	<section class="foto-sekbid" id="editor">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/video_editor.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/razan_fth/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/raz.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">48</div>
				<hr>
				<div class="info">
					<p id="name">Razan Muhammad Al F</p>
					<p id="panggilan"><em>/rajan roti zzaaan/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/outtaten_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/joc.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">94</div>
				<hr>
				<div class="info">
					<p id="name">Jocelyn Felita Lim</p>
					<p id="panggilan"><em>/juy/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/_r.pang/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/ric.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">34</div>
				<hr>
				<div class="info">
					<p id="name">Richy Pangestu</p>
					<p id="panggilan"><em>/ri-pang/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/fatiyyahd/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/fat.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">45</div>
				<hr>
				<div class="info">
					<p id="name">Fatiyyah A. D.</p>
					<p id="panggilan"><em>/fatiyyah/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/vkqldks/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/fab.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">46</div>
				<hr>
				<div class="info">
					<p id="name">Fabian Ghafiqi Ahmad</p>
					<p id="panggilan"><em>/fabian/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Illustrator -->
	<section class="foto-sekbid" id="illustrator">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/illustrator.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<img src="{{ url_for('static', filename='asteration/foto_about_us/gab.png') }}">
				
				<div class="nomor-jersey">47</div>
				<hr>
				<div class="info">
					<p id="name">Gabriela Ivana Rahel S</p>
					<p id="panggilan"><em>/ivana/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/mgnols/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/mag.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">18</div>
				<hr>
				<div class="info">
					<p id="name">Magnolia Serafine Galen</p>
					<p id="panggilan"><em>/mimi/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/jeven.rivaldo/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/jepen.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">34</div>
				<hr>
				<div class="info">
					<p id="name">Jeven Rivaldo Setiawan</p>
					<p id="panggilan"><em>/jepen/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/er1ka_er/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/erika.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">76</div>
				<hr>
				<div class="info">
					<p id="name">Erika Syaputri</p>
					<p id="panggilan"><em>/erika/ /rika/ /er/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ireneeeech/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/irene.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">29</div>
				<hr>
				<div class="info">
					<p id="name">Irene Christantie Hiumawan</p>
					<p id="panggilan"><em>/iyen/ /rene/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/adhrrl.rzqqi/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/adh.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">44</div>
				<hr>
				<div class="info">
					<p id="name">Adharrel Razaqqi</p>
					<p id="panggilan"><em>/darrel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Script Writer -->

	<section class="foto-sekbid" id="script_writer">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/script.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/justin_marguel/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/justin.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">50</div>
				<hr>
				<div class="info">
					<p id="name">Justin Marguel</p>
					<p id="panggilan"><em>/justin/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/kathleen_milano/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/kath.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">89</div>
				<hr>
				<div class="info">
					<p id="name">Kathleen Jasia Milano</p>
					<p id="panggilan"><em>/kth/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/moonseai/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/fel.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">63</div>
				<hr>
				<div class="info">
					<p id="name">Felicia Tio Sumarto</p>
					<p id="panggilan"><em>/fel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/louissss_ssss/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/loius.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">27</div>
				<hr>
				<div class="info">
					<p id="name">Kelly Louis Alpendo</p>
					<p id="panggilan"><em>/louis/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/wiwid_cu/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/wiwid.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">53</div>
				<hr>
				<div class="info">
					<p id="name">Widya Oliviera Cutri</p>
					<p id="panggilan"><em>/widya/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Acting -->
	<section class="foto-sekbid" id="acting">
		<img src="{{ url_for('static', filename='asteration/foto_about_us/actress.png') }}">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/thufailahn/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/naj.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">71</div>
				<hr>
				<div class="info">
					<p id="name">Najla Thufailah</p>
					<p id="panggilan"><em>/najla/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/catherinecallinskyv/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/cath_2.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">96</div>
				<hr>
				<div class="info">
					<p id="name">Catherine Callinsky V</p>
					<p id="panggilan"><em>/cath/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/cndychrsnt_/">
					<img src="{{ url_for('static', filename='asteration/foto_about_us/cindy.png') }}">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">21</div>
				<hr>
				<div class="info">
					<p id="name">Cindy Chrisanta Thengono</p>
					<p id="panggilan"><em>/cindy/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

{% endblock main %}