{% extends "asteration/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asteration/css/e_pelita.css') }}">
{% endblock css_js %}

{% block title %}Pelita{% endblock title %}

{% block main %}
<section class="banner">
	<img src="{{ url_for('static', filename='asteration/img/banner/pelita_banner.png') }}" alt="banner">
	<section class="gradient-banner">
	
	</section>
</section>

<section class="about">
	<h1 class="hidden">About Pelita</h1>
	<p class="hidden">
		PELITA merupakan kepanjangan dari <span>Penuntun menuju lintasan terang</span> yang memiliki arti guru yang membimbing murid muridnya menuju keberhasilan. Acara PELITA ini memperingati hari Guru Nasional dimana para guru mengikuti berbagai kegiatan menarik seperti lomba lomba.
	</p>
	<div class="kewa hidden">
		<div class="kepan">
			<p><b>Ketua Panitia</b></p>
			<p>Renata Brigitta</p>
		</div>
		<div class="kepan">
			<p><b>Ketua Acara</b></p>
			<p>Felicia Griselda</p>
		</div>
	</div>
</section>

<section class="content">

	<div class="performance">
		<h1 class="hidden">Performance</h1>
		<div class="lists">
			<div class="list hidden">
				<i class='bx bx-tada bxs-group' ></i>
				<p>Traditional Dance Performance</p>
			</div>
			<div class="list hidden">
				<i class='bx bx-tada bx-book-heart'></i>
				<p>Poetry</p>
			</div>
			<div class="list hidden">
				<i class='bx bx-tada bx-microphone' ></i>
				<p>Singing Performance</p>
			</div>
			<div class="list hidden">
				<i class='bx bx-tada bx-music' ></i>
				<p>Orchestra Performance</p>
			</div>
		</div>
	</div>

	<div class="performance">
		<h1 class="hidden">Competition</h1>
		<div class="lists">
			<div class="list hidden">
				<i class='bx bx-tada bx-basketball'></i>
				<p>Freethrow</p>
			</div>
			<div class="list hidden">
				<i class='bx bx-tada bx-user-voice'></i>
				<p>Guess The Words</p>
			</div>
			<div class="list hidden">
				<i class='bx bx-tada bx-universal-access' ></i>
				<p>Guess The Style</p>
			</div>
			<div class="list hidden">
				<i class='bx bx-tada bx-image' ></i>
				<p>Imitate The Picture</p>
			</div>
		</div>
	</div>

	<div class="performance">
		<h1 class="hidden">Winners</h1>
		<div class="gambar">
			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/1.jpg') }}">

			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/2.jpg') }}">

			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/3.jpg') }}">

			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/4.jpg') }}">

			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/5.jpg') }}">

			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/6.jpg') }}">

			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/7.jpg') }}">

			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/8.jpg') }}">

			<img class="hidden" src="{{ url_for('static', filename='asteration/img/pelita/9.jpg') }}">
		</div>
	</div>

</section>
{% endblock main %}