:root {
	--light-brown: rgb(193, 161, 127);
	--dark-brown: rgb(55, 5, 6);
	--brown: rgb(124, 28, 28);
	--white: rgb(255, 255, 255);
	--light-blue: rgb(110, 203, 246);
	--blue: rgb(87, 106, 226);
	--dark-blue: rgb(42, 35, 86);
	--pink: rgb(194, 82, 226);
	--orange: rgb(195, 92, 53);
}

/* section foto bersama */
div.top-section{
    width: 100vw;
    position: relative;
    top: calc(4vw + 4vh);
    height: 85vw;
}

div.top-section .heading-section{
    position: absolute;
    width: 100%;
    left: 0;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

div.top-section .heading-section span{
    color: white;
    font-size: 20vw;
    font-family: "Bebas Neue", sans-serif;
}

div.top-section img{
    width: 100%;
    position: relative;
}

div.line-cut{
    position: relative;
    left: 3.5vw;
    width: 92vw;
    height: 3px;
    background-color: white;
    box-shadow: 0 5px 12px rgba(255, 255, 255, 0.5);
}


/* section sekbid head */
div.sekbid-container{
    width: 100vw;
    margin: 0;
    position: relative;
    top: calc(1vw + 3vh);
}

div.sekbid-container .sekbid-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

div.sekbid-container .sekbid-item .frame {
    width: 80vw;
    height: 60vw;
    position: relative;
    background-color: rgb(222, 97, 48);
    border-radius: 2vw;
    margin-bottom: 8vw;
}

div.sekbid-container .sekbid-item .frame .inner-frame {
    width: 75vw;
    height: 47.5vw;
    position: relative;
    left: 2.5vw;
    top: 2.5vw;
    background-color: rgb(241, 190, 96);
    border-radius: 1.65vw;
    overflow: hidden;
}

div.sekbid-container .sekbid-item .frame .inner-frame img{  
    position: relative;
    bottom: -0.5vw;
    left: 1.875vw;
    width: 95%;
    max-height: 47.5vw;
}

div.sekbid-container .sekbid-item .frame h1 {
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: white;
    font-size: 10vw;
    bottom: -2vw;
}

/* individual card */
div.sekbid-container .sekbid-item .frame-card{
    width: 24vw;
    height: 35vw;
    border-radius: 1vw;
    border: 0.5vw solid white;
    overflow: hidden;
    background-color: var(--brown);
    position: relative;
    margin: 3vw 0;
    user-select: none;
}

div.sekbid-container .sekbid-item .frame-card img.individual-photo{
    width: 40vw;
    position: relative;
    left: -3vw;
    top: -5vw;
}

div.sekbid-container .sekbid-item .frame-card h1.individual-number {
    position: absolute;
    color: white;
    font-size: 8vw;
    left: 0.5vw;
    top: -0.5vw;
    font-family: "Bebas Neue", sans-serif;
}

div.sekbid-container .sekbid-item .frame-card  h1.years-experience, div.sekbid-container .sekbid-item .frame-card h1.events-experience{
    position: relative;
    color: white;
    font-size: 1.8vw;
    left: 1vw;
    top: -18vw;
    font-family: "Bebas Neue", sans-serif;
    user-select: text;
}
div.sekbid-container .sekbid-item .frame-card h1.years-experience span,
div.sekbid-container .sekbid-item .frame-card h1.events-experience span{
    font-size: 2.7vw;
    font-weight: 800;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card {
    position: absolute;
    color: white;
    font-size: 1.5vw;
    width: 24vw;
    left: 0;
    height: 15vw;
    top: 20vw;
    background-color: var(--dark-brown);
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card .name-heading{
    display: block;
    font-weight: 600;
    font-size: 2.5vw;
    color: white;
    text-align: center;
    margin-left: -0.75vw;
    user-select: text;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card .nickname-heading{
    display: block;
    margin-top: -0.5vw;
    font-size: 1vw;
    color: white;
    text-align: center;
    margin-left: -0.75vw;
    user-select: text;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card .jabatan-heading{
    display: block;
    margin-top: 1.8vw;
    font-size: 1.8vw;
    color: white;
    text-align: center;
    margin-left: -0.75vw;
    user-select: text;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card .line-cut2{
    width: 21vw;
    height: 0.25vw;
    position: relative;

    left: 1vw;
    background-color: white;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card img.frame-logo{
    position: absolute;
    top: 9.7vw;
    right: 5vw;
    width: 4vw;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect {
    text-decoration: none;
    position: absolute;
    top: 9.7vw;
    left: 4vw;
}
div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect i{
font-size: 4vw;
color: white;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect i:hover {
    color: rgb(200, 200, 200);
}



div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.content h1{
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 4rem;
}

div.content p {
    font-weight: 700;
    font-size: 1.2rem;
}

.waves-footer{
    background-color: var(--dark-brown);
}

@media screen and (max-width : 740px) {
    div.logo-cs {
        --size: 20rem;
    }

    div.content h1 {
        font-size: 3.5rem;
    }

    div.content p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width : 590px){
    html{
        font-size: 62.5%;
    }
    .content h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1%;
    }
}


/* Second Navbar */
div.navbarMain{
    box-shadow: none;
}
div.navbarScroll {
    width: 100vw;
    height: 6vh;
    background-color: rgb(222, 97, 48);
    position: fixed;
    color: white;
    z-index: 9000;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.5);
}

.prev,
.next {
    position: absolute;
    font-size: 4.125vh;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 2vh;
}

.next {
    right: 2vh;
}

.mainScrollContainer {
    position: absolute;
    left: calc(4vh);
    width: calc(100vw - 8vh);
    height: 100%;
    display: flex;
    justify-content: center;
    -webkit-mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 1) 90%,
            rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 1) 90%,
            rgba(0, 0, 0, 0) 100%);
}

.SelectionsContainer {
    max-width: calc(98vw - 8vh);
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.SelectionsContainer button {
    background: none;
    color: white;
    height: 100%;
    padding: 0 3vh;
    font-size: 2.5vh;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.12vh;
}

.SelectionsContainer button:hover {
    color: orange;
}

@media (min-width:1024px){
    div.navbarScroll {
        top: 7.9vh;
    }
}
@media (max-width:1024px) and (orientation:portrait) {
    div.navbarScroll {
        top: 7.9vh;
    }
    div.top-section {
        top: 14vh;
    }
    div.sekbid-container {
        top: calc(1vw + 12vh);
    }
}
@media (max-width:1024px) and (orientation:landscape) {
    div.navbarScroll {
        top: 6.9vw;
    }
    div.navbarScroll {
        height: 6vw;
    }

    .prev,
    .next {
        position: absolute;
        font-size: 4vw;
        cursor: pointer;
        user-select: none;
    }

    .prev {
        left: 1.5vw;
    }

    .next {
        right: 1.5vw;
    }

    .mainScrollContainer {
        left: 3vw;
        width: 94vw;
    }

    .SelectionsContainer {
        max-width: 92vw;
    }

    .SelectionsContainer button {
        padding: 0 2.25vw;
        font-size: 1.875vw;
        letter-spacing: -0.09vw;
    }
}


