:root {
	--light-brown: rgb(193, 161, 127);
	--dark-brown: rgb(55, 5, 6);
	--brown: rgb(124, 28, 28);
	--white: rgb(255, 255, 255);
	--light-blue: rgb(110, 203, 246);
	--blue: rgb(87, 106, 226);
	--dark-blue: rgb(42, 35, 86);
	--pink: rgb(194, 82, 226);
	--orange: rgb(195, 92, 53);
}

/* section foto bersama */
section.top-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

section.top-section h1.about-heading{
    font-size: 10vw;
    color: white;
    font-family: 'Anton', sans-serif;
}

.fotbar-kabinet{
    margin-top: 2rem;
    --size: 80vw;
    width: var(--size);
    height: calc(var(--size)/1.8);
    background-image: url(../img/about_us/fotbar_kabinet.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.2rem solid white;
    /* box-shadow: 0px 0px 15px white; */
    border-radius: 0.2rem;
}




/* section sekbid head */
div.sekbid-container{
    width: 95vw;
    margin: 0;
    position: relative;
    left: 2.5vw;
    top: calc(1vw + 3vh);
}

div.sekbid-container .sekbid-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

div.sekbid-container .sekbid-item .frame {
    width: 80vw;
    height: 60vw;
    position: relative;
    background-color: rgb(222, 97, 48);
    border-radius: 2vw;
    margin-bottom: 8vw;
    margin-top: 6vw;
}

div.sekbid-container .sekbid-item .frame .inner-frame {
    width: 75vw;
    height: 47.5vw;
    position: relative;
    left: 2.5vw;
    top: 2.5vw;
    background-color: rgb(241, 190, 96);
    border-radius: 1.65vw;
    overflow: hidden;
}
div.sekbid-container .sekbid-item .frame .inner-frame img {
    width: 97%;
    max-height: 57vw;
}

div.sekbid-container .sekbid-item .frame-card img{  
    position: relative;
    bottom: -0.5vw;
    left: 1.875vw;
    width: 95%;
}

/* Perbaikan gambar card */

#satriafix{
    width: 82%;
    left: 7vw;
}
#michellefix{
    padding: 1.5vw;
}
#rafiefix{
    padding: 3vw;
    bottom: -1.5vw;
    left: -4vw;
}
#fatifix{
    padding: 12vw;
    top: -16vw;
}
#rayafix{
    padding: 12vw;
    top: -13vw;
}
#naimafix{
    padding: 12vw;
    top: -8vw;
}



/* end */

div.sekbid-container .sekbid-item .frame h1 {
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: white;
    font-size: 10vw;
    bottom: -2vw;
}

/* individual card */
div.sekbid-container .sekbid-item .frame-card{
    width: 24vw;
    height: 35vw;
    border-radius: 1vw;
    border: 0.5vw solid white;
    overflow: hidden;
    background-color: var(--brown);
    position: relative;
    margin: 3vw 0;
    user-select: none;
}

div.sekbid-container .sekbid-item .frame-card img.individual-photo{
    width: 40vw;
    position: relative;
    left: -3vw;
    top: -4vw;
}

div.sekbid-container .sekbid-item .frame-card h1.individual-number {
    position: absolute;
    color: white;
    font-size: 8vw;
    left: 0.5vw;
    top: -0.5vw;
    font-family: "Bebas Neue", sans-serif;
}

div.sekbid-container .sekbid-item .frame-card  h1.years-experience{
    position: absolute;
    color: white;
    font-size: 1.8vw;
    left: 1vw;
    top: 8vw;
    font-family: "Bebas Neue", sans-serif;
    user-select: text;
}
div.sekbid-container .sekbid-item .frame-card h1.years-experience span{
    font-size: 2.7vw;
    font-weight: 800;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card {
    position: absolute;
    color: white;
    font-size: 1.5vw;
    width: 24vw;
    left: 0;
    height: 15vw;
    top: 20vw;
    background-color: var(--dark-brown);
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card .name-heading{
    display: block;
    font-weight: 600;
    font-size: 1.8vw;
    color: white;
    text-align: center;
    margin-left: -0.75vw;
    user-select: text;
   
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card .nickname-heading{
    display: block;
    margin-top: -0.5vw;
    font-size: 1.2vw;
    color: white;
    text-align: center;
    margin-left: -0.75vw;
    user-select: text;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card .jabatan-heading{
    display: block;
    margin-top: 1.8vw;
    font-size: 1.8vw;
    color: white;
    text-align: center;
    margin-left: -0.75vw;
    user-select: text;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card .line-cut2{
    width: 21vw;
    height: 0.25vw;
    position: relative;

    left: 1vw;
    background-color: white;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card img.frame-logo{
    position: absolute;
    top: 9.7vw;
    right: 5vw;
    width: 4vw;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect {
    text-decoration: none;
    position: absolute;
    top: 9.7vw;
    left: 4vw;
    margin-left: 55%;
}
div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect i{
font-size: 4vw;
color: white;
}

div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect i:hover {
    color: rgb(200, 200, 200);
}



div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.content h1{
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 4rem;
}

div.content p {
    font-weight: 700;
    font-size: 1.2rem;
}


.waves-footer{
    background-color: var(--dark-brown);
}

@media screen and (max-width : 740px) {
    div.logo-cs {
        --size: 20rem;
    }

    div.content h1 {
        font-size: 3.5rem;
    }

    div.content p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width : 590px){
    html{
        font-size: 62.5%;
    }
    .content h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1%;
    }
}


/* Second Navbar */
div.navbarMain{
    box-shadow: none;
}
div.navbarScroll {
    width: 100vw;
    height: 6vh;
    background-color: black;
    position: fixed;
    color: white;
    z-index: 9000;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.5);
}

.prev,
.next {
    position: absolute;
    font-size: 4.125vh;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 2vh;
}

.next {
    right: 2vh;
}

.mainScrollContainer {
    position: absolute;
    left: calc(4vh);
    width: calc(100vw - 8vh);
    height: 100%;
    display: flex;
    justify-content: center;
    -webkit-mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 1) 90%,
            rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 1) 90%,
            rgba(0, 0, 0, 0) 100%);
}

.SelectionsContainer {
    max-width: calc(98vw - 8vh);
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.SelectionsContainer button {
    background: none;
    color: white;
    height: 100%;
    font-size: 2.5vh;
    border: none;
    cursor: pointer;
    padding: 0 3vh;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.12vh;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    width: auto;
}

.SelectionsContainer button:hover {
    color: orange;
}

@media (min-width:1024px){
    div.navbarScroll {
        top: 7.9vh;
    }
}
@media (max-width:1024px) and (orientation:portrait) {
    section.top-section{
        margin-top: 14rem;
        margin-bottom: 0;
    }
    div.navbarScroll {
        top: 7.9vh;
    }
    div.top-section {
        top: 14vh;
    }
    div.sekbid-container {
        top: calc(1vw + 12vh);
    }
    /* individual card */
    div.sekbid-container .sekbid-item .frame-card {
        width: 72vw;
        height: 105vw;
        border-radius: 3vw;
        border: 1.5vw solid white;
        overflow: hidden;
        background-color: var(--brown);
        position: relative;
        margin: 9vw 0;
        user-select: none;
    }

   div.sekbid-container .sekbid-item .frame-card img.individual-photo {
       position: relative;
       top: -13vw;
       left: -9vw;
       width: 125vw;
   }

   /* Perbaikan gambar card */

   #satriafix {
       width: 82%;
       left: 21vw;
   }

   #michellefix {
       padding: 4.5vw;
   }

   #rafiefix {
       padding: 9vw;
       bottom: -4.5vw;
       left: -12vw;
   }

   #fatifix {
       padding: 36vw;
       top: -48vw;
   }

    div.sekbid-container .sekbid-item .frame-card h1.individual-number {
        position: absolute;
        color: white;
        font-size: 24vw;
        left: 1.5vw;
        top: -1.5vw;
        font-family: "Bebas Neue", sans-serif;
    }

    div.sekbid-container .sekbid-item .frame-card h1.years-experience {
        position: absolute;
        color: white;
        font-size: 5.4vw;
        left: 3vw;
        top: 24vw;
        font-family: "Bebas Neue", sans-serif;
        user-select: text;
    }
    
    div.sekbid-container .sekbid-item .frame-card h1.years-experience span {
        font-size: 8.1vw;
        font-weight: 800;
    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card {
        position: absolute;
        color: white;
        font-size: 4.5vw;
        width: 72vw;
        left: 0;
        height: 45vw;
        top: 60vw;
        background-color: var(--dark-brown);
    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card .name-heading {
        display: block;
        font-weight: 600;
        font-size: 5.4vw;
        color: white;
        text-align: center;
        margin-left: -2.25vw;
        user-select: text;

    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card .nickname-heading {
        display: block;
        margin-top: -1.5vw;
        font-size: 3.6vw;
        color: white;
        text-align: center;
        margin-left: -2.25vw;
        user-select: text;
    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card .jabatan-heading {
        display: block;
        margin-top: 5.4vw;
        font-size: 5.4vw;
        color: white;
        text-align: center;
        margin-left: -2.25vw;
        user-select: text;
    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card .line-cut2 {
        width: 63vw;
        height: 0.75vw;
        position: relative;
        left: 3vw;
        background-color: white;
    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card img.frame-logo {
        position: absolute;
        top: 29.1vw;
        right: 15vw;
        width: 12vw;
    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect {
        text-decoration: none;
        position: absolute;
        top: 29.1vw;
        left: 12vw;
        margin-left: 60%;
    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect i {
        font-size: 12vw;
        color: white;
    }

    div.sekbid-container .sekbid-item .frame-card .lower-frame-card a.instagram-redirect i:hover {
        color: rgb(200, 200, 200);
    }
    
    div.sekbid-container{
        margin-bottom: 10rem;
    }
}
@media (max-width:1024px) and (orientation:landscape) {
    div.navbarScroll {
        top: 6.9vw;
    }
    div.navbarScroll {
        height: 6vw;
    }

    .prev,
    .next {
        position: absolute;
        font-size: 4vw;
        cursor: pointer;
        user-select: none;
    }

    .prev {
        left: 1.5vw;
    }

    .next {
        right: 1.5vw;
    }

    .mainScrollContainer {
        left: 3vw;
        width: 94vw;
    }

    .SelectionsContainer {
        max-width: 92vw;
    }

    .SelectionsContainer button {
        padding: 0 2.25vw;
        font-size: 1.875vw;
        letter-spacing: -0.09vw;
    }
}


@media screen and (max-width: 768px) {
    div.sekbid-container{
        margin-bottom: 10rem;
    }
}