{% extends "valiance/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/coming_soon.css') }}">
{% endblock css_js %}


{% block title %}404 Page Not Found{% endblock title %}

{% block main %}
	<section class="coming-soon">
		<div class="logo-cs"></div>
		<div class="content">
			<h1 class="text-shadow">404 - Page Not Found</h1>
			<p class="text-shadow">Oops! The page you're looking for doesn't exist.</p>
            
		</div>
	</section>

	<svg
	    class="waves-footer"
	    xmlns="http://www.w3.org/2000/svg"
	    viewBox="0 0 1440 320"
	  >
	    <defs>
	      <filter
	        id="waveShadow"
	        x="-50%"
	        y="-50%"
	        width="200%"
	        height="200%"
	      >
	        <feGaussianBlur
	          in="SourceAlpha"
	          stdDeviation="10"
	          result="blur"
	        />
	        <feOffset in="blur" dx="0" dy="0" result="offsetBlur" />
	        <feFlood flood-color="white" flood-opacity="1" result="color" />
	        <feComposite in2="offsetBlur" operator="in" result="shadow" />
	        <feMerge>
	          <feMergeNode in="shadow" />
	          <feMergeNode in="SourceGraphic" />
	        </feMerge>
	      </filter>
	    </defs>

	    <path
	      filter="url(#waveShadow)"
	      fill="rgb(124, 28, 28)"
	      fill-opacity="1"
	      d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
	    ></path>
	</svg>
	
{% endblock main %}