{% extends "valiance/layout.html" %} {% block css_js %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/index.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/about_us.css') }}"
/>
<script src="{{ url_for('static', filename='valiance/js/about_us.js') }}"></script>
{% endblock css_js %} {% block title %}About Us{% endblock title %} {% block
main %}
<div class="navbarScroll">
      <div class="prev" onclick="changeScrollPage(0)">❮</div>
      <div class="next" onclick="changeScrollPage(1)">❯</div>
      <div class="mainScrollContainer">
        <div class="SelectionsContainer">
        </div>
      </div>
    </div>

<section class="top-section">
  <h1 class="about-heading">About Us</h1>
  <div class="fotbar-kabinet"></div>
</section>

<div class="sekbid-container">
    </div>
<script>
  let SelectionsContainer = document.body.querySelector(".SelectionsContainer");
  let container = document.body.querySelector(".sekbid-container");


  //DATA
  let DataArray = [
    {
      Sekbid: "Top 3",
      imgdirect: "/static/valiance/img/about_us/Top 3/Top 3.webp",
      Members: [
        {
          name: "Celine Aurelia Tan",
          jersey: 1,
          y_exp: 2,
          nicks: "selintan/ /syelyn/ /anyomayi kyosyong",
          jabatan: "Ketua OSIS",
          insta: "cellne.tan",
          imgroot: "/static/valiance/img/about_us/Top 3/Celine Tan.webp",
          styleid: "",
        },
        {
          name: "M. Satria Alfahri",
          jersey: 2,
          y_exp: 2,
          nicks: "satari/ /wibu pro hengker/ /fisika",
          jabatan: "Wakil Ketua OSIS I",
          insta: "msatrialfahri",
          imgroot: "/static/valiance/img/about_us/Top 3/Satria.webp",
          styleid: "satriafix",
        },
        {
          name: "Syahdan Rafi Akram",
          jersey: 3,
          y_exp: 2,
          nicks: "syahdan/ /dan/ /danprohengker",
          jabatan: "Wakil Ketua OSIS II",
          insta: "syahdansu",
          imgroot: "/static/valiance/img/about_us/Top 3/Syahdan.webp",
          styleid: "",
        },
      ],
    },
    {
      Sekbid: "Sekretaris",
      imgdirect: "/static/valiance/img/about_us/Sekretaris/Sekretaris.webp",
      Members: [
        {
          name: "Michelle Aneurin",
          jersey: 12,
          y_exp: 2,
          nicks: "aneurin",
          jabatan: "Sekretaris",
          insta: "michelle_aneurin",
          imgroot: "/static/valiance/img/about_us/Sekretaris/Michelle Aneurine.webp",
          styleid: "",
        },
        {
          name: "Jessica Duangmun",
          jersey: 40,
          y_exp: 1,
          nicks: "Jessmun",
          jabatan: "Wakil Sekretaris",
          insta: "jemoonn",
          imgroot: "/static/valiance/img/about_us/Sekretaris/Jessica.webp",
          styleid: "",
        },
      ],
    },
    {
      Sekbid: "Bendahara",
      imgdirect: "/static/valiance/img/about_us/Bendahara/Bendahara.webp",
      Members: [
        {
          name: "Celine Natifa Sanny",
          jersey: 99,
          y_exp: 2,
          nicks: "celine",
          jabatan: "Bendahara",
          insta: "celinensan",
          imgroot: "/static/valiance/img/about_us/Bendahara/Celine Natifa.webp",
          styleid: "",
        },
        {
          name: "Kayla Visha Arganata",
          jersey: 63,
          y_exp: 1,
          nicks: "kela/ /ayak/ /kayie",
          jabatan: "Wakil Bendahara",
          insta: "kaylaavsh",
          imgroot: "/static/valiance/img/about_us/Bendahara/Kayla.webp",
          styleid: "",
        },
      ],
    },
    {
      Sekbid: "Bela Negara",
      imgdirect: "/static/valiance/img/about_us/Bela Negara/Bela Negara.webp",
      Members: [
        {
          name: "Michelle Angelieque G.",
          jersey: 31,
          y_exp: 2,
          nicks: "que/ /icel",
          jabatan: "Koordinator",
          insta: "michelleangelieque",
          imgroot: "/static/valiance/img/about_us/Bela Negara/Michelle Angelieque.webp",
          styleid: "michellefix",
        },
        {
          name: "Bernard Febriansen",
          jersey: 82,
          y_exp: 1,
          nicks: "onat/ /bernard",
          jabatan: "Anggota",
          insta: "bernardfeb__",
          imgroot: "/static/valiance/img/about_us/Bela Negara/onat.webp",
          styleid: "",
        },
        {
          name: "Sulthan Santri Aji",
          jersey: 51,
          y_exp: 1,
          nicks: "tan/ /sul/ /tantrum",
          jabatan: "Anggota",
          insta: "tll_5b",
          imgroot: "/static/valiance/img/about_us/Bela Negara/Sultan.webp",
          styleid: "",
        },
        {
          name: "Raya Asya Syafaleh",
          jersey: 56,
          y_exp: 1,
          nicks: "Ray/ /Yaya/ /Layaya",
          jabatan: "Anggota",
          insta: "rayaasyasflh",
          imgroot: "/static/valiance/img/about_us/Bela Negara/Raya.webp",
          styleid: "",
        },
        {
          name: "Anastasya Michaela",
          jersey: 20,
          y_exp: 1,
          nicks: "nanas",
          jabatan: "Anggota",
          insta: "anastasya_michaela",
          imgroot: "/static/valiance/img/about_us/Bela Negara/Anastasya.webp",
          styleid: "",
        },
        {
          name: "Laxmi Dewi Putu A",
          jersey: 90,
          y_exp: 1,
          nicks: "mimi/ /laxmi/ /lax",
          jabatan: "Anggota",
          insta: "laxmi.ardana",
          imgroot: "/static/valiance/img/about_us/Bela Negara/Laxmi.webp",
          styleid: "",
        },
        {
          name: "Muhammad Rafie K. F.",
          jersey: 75,
          y_exp: 1,
          nicks: "Fiee/ /Rapi",
          jabatan: "Anggota",
          insta: "ravvie._",
          imgroot: "/static/valiance/img/about_us/Bela Negara/Rafie.webp",
          styleid: "rafiefix",
        },
      ],
    },
    {
      Sekbid: "Multimedia Onfield",
      imgdirect: "/static/valiance/img/about_us/Multimedia Onfield/Multimedia Onfield.webp",
      Members: [
        {
          name: "Alif Danendra",
          jersey: 96,
          y_exp: 2,
          nicks: "alip",
          jabatan: "Koordinator",
          insta: "alif.danendra_",
          imgroot: "/static/valiance/img/about_us/Multimedia Onfield/Alif.webp",
          styleid: "",
        },
        {
          name: "Adrian Wijaya",
          jersey: 81,
          y_exp: 1,
          nicks: "drian",
          jabatan: "Anggota",
          insta: "rianadr.pdf",
          imgroot: "/static/valiance/img/about_us/Multimedia Onfield/Adrian.webp",
          styleid: "",
        },
        {
          name: "Austin Uno Hendry",
          jersey: 13,
          y_exp: 2,
          nicks: "lighting",
          jabatan: "Anggota",
          insta: "austin.uno.888",
          imgroot: "/static/valiance/img/about_us/Multimedia Onfield/Austin.webp",
          styleid: "",
        },
        {
          name: "Gavin Anggreas",
          jersey: 17,
          y_exp: 1,
          nicks: "gavin/ /JMK 6",
          jabatan: "Anggota",
          insta: "gavin_anggreas",
          imgroot: "/static/valiance/img/about_us/Multimedia Onfield/Gavin.webp",
          styleid: "",
        },
        {
          name: "Richiro Huang",
          jersey: 69,
          y_exp: 1,
          nicks: "chiro/ /JMK 9",
          jabatan: "Anggota",
          insta: "richiro_huang",
          imgroot: "/static/valiance/img/about_us/Multimedia Onfield/Richiro.webp",
          styleid: "",
        },
        {
          name: "Alvaro Valentino",
          jersey: 23,
          y_exp: 1,
          nicks: "alvaro",
          jabatan: "Anggota",
          insta: "vlntinoav",
          imgroot: "/static/valiance/img/about_us/Multimedia Onfield/Alvaro.webp",
          styleid: "",
        },
      ],
    },
    {
      Sekbid: "Multimedia Website",
      imgdirect: "/static/valiance/img/about_us/Multimedia Website/Multimedia Website.webp",
      Members: [
        {
          name: "Kevin Wilbert Johan",
          jersey: 7,
          y_exp: 2,
          nicks: "kep/kepin/pin",
          jabatan: "Koordinator",
          insta: "kevinwlbrtj",
          imgroot: "/static/valiance/img/about_us/Multimedia Website/Kevin Wilbert.webp",
          styleid: "",
        },
        {
          name: "Hilarius Jenson Phang",
          jersey: 42,
          y_exp: 1,
          nicks: "jen/ /son",
          jabatan: "Anggota",
          insta: "jenson_pov",
          imgroot: "/static/valiance/img/about_us/Multimedia Website/Hilarius.webp",
          styleid: "",
        },
        {
          name: "Rhasya Faqih P. S.",
          jersey: 95,
          y_exp: 1,
          nicks: "rhasya/ /sultan dubai",
          jabatan: "Anggota",
          insta: "rhsya_fps",
          imgroot: "/static/valiance/img/about_us/Multimedia Website/Rhasya.webp",
          styleid: "",
        },
        {
          name: "Winson",
          jersey: 85,
          y_exp: 1,
          nicks: "Winson",
          jabatan: "Anggota",
          insta: "winson.liee",
          imgroot: "/static/valiance/img/about_us/Multimedia Website/Winson.webp",
          styleid: "",
        },
      ],
    },
    {
      Sekbid: "Sekretariat",
      imgdirect: "/static/valiance/img/about_us/Sekretariat/Sekretariat.webp",
      Members: [
        {
          name: "Ruth Abigail Levana",
          jersey: 35,
          y_exp: 1,
          nicks: "rutrut/ /rutek/ /ruti",
          jabatan: "Koordinator",
          insta: "ruthabigals",
          imgroot: "/static/valiance/img/about_us/Sekretariat/Ruth.webp",
          styleid: "",
        },
        {
          name: "Siti Naila Zhafirah",
          jersey: 74,
          y_exp: 1,
          nicks: "naila/ /anai",
          jabatan: "Anggota",
          insta: "aannaaii_",
          imgroot: "/static/valiance/img/about_us/Sekretariat/Siti Naila.webp",
          styleid: "",
        },
        {
          name: "Dina Evelin Cae",
          jersey: 45,
          y_exp: 1,
          nicks: "dindin/ /ellin",
          jabatan: "Anggota",
          insta: "dinaevlnn",
          imgroot: "/static/valiance/img/about_us/Sekretariat/Dina.webp",
          styleid: "",
        },
        {
          name: "Syiezha Naiyra Q.R.",
          jersey: 73,
          y_exp: 1,
          nicks: "syiezha/ /sheza/ /zizi",
          jabatan: "Anggota",
          insta: "not_zizi_",
          imgroot: "/static/valiance/img/about_us/Sekretariat/Syiezha.webp",
          styleid: "",
        },
        {
          name: "Jovan Lauw",
          jersey: 72,
          y_exp: 1,
          nicks: "van/ /jovan/ /jovan",
          jabatan: "Anggota",
          insta: "lauwjovan",
          imgroot: "/static/valiance/img/about_us/Sekretariat/Jovan.webp",
          styleid: "",
        },
      ],
    },
    {
      Sekbid: "Dokumentasi",
      imgdirect: "/static/valiance/img/about_us/Dokumentasi/Dokumentasi.webp",
      Members: [
        {
          name: "Valiqa Khaya N",
          jersey: 33,
          y_exp: 2,
          nicks: "vali",
          jabatan: "Koordinator",
          insta: "valiqakhaya",
          imgroot: "/static/valiance/img/about_us/Dokumentasi/Valiqa.webp",
          styleid: "",
        },
        {
          name: "Wira Fathi",
          jersey: 59,
          y_exp: 2,
          nicks: "wira",
          jabatan: "Anggota",
          insta: "wirafathi",
          imgroot: "/static/valiance/img/about_us/Dokumentasi/Wira Fathi.webp",
          styleid: "",
        },
        {
          name: "Fatiyyah A. D.",
          jersey: 76,
          y_exp: 2,
          nicks: "fatiyyah/ /deka",
          jabatan: "Anggota",
          insta: "fatiyyahd",
          imgroot: "/static/valiance/img/about_us/Dokumentasi/Fatiyyah.webp",
          styleid: "fatifix",
        },
        {
          name: "Frizzy Alnaufal Lenggana",
          jersey: 26,
          y_exp: 1,
          nicks: "fruizy",
          jabatan: "Anggota",
          insta: "7rizzyall",
          imgroot: "/static/valiance/img/about_us/Dokumentasi/Frizzy.webp",
          styleid: "",
        },
        {
          name: "Nicholas Kevin Yulius P.",
          jersey: 28,
          y_exp: 1,
          nicks: "pin/ /kepin/ /nicho",
          jabatan: "Anggota",
          insta: "28kvin",
          imgroot: "/static/valiance/img/about_us/Dokumentasi/Nicholas Kevin.webp",
          styleid: "",
        },
      ],
    },
    {
      Sekbid: "Kreatif",
      imgdirect: "/static/valiance/img/about_us/Kreatif/Kreatif.webp",
      Members: [
        {
          name: "Ayleah Erwin Taufiek",
          jersey: 44,
          y_exp: 2,
          nicks: "Ayleah",
          jabatan: "Koordinator",
          insta: "ay_leah",
          imgroot: "/static/valiance/img/about_us/Kreatif/Ayleah.webp",
          styleid: "",
        },
        {
          name: "Marcelia Angel Purba",
          jersey: 87,
          y_exp: 2,
          nicks: "Marce",
          jabatan: "Anggota",
          insta: "marceliaangel_",
          imgroot: "/static/valiance/img/about_us/Kreatif/Marcelia.webp",
          styleid: "",
        },
        {
          name: "Saskia Ayu Hurairah",
          jersey: 4,
          y_exp: 1,
          nicks: "sasi/saskia/saski",
          jabatan: "Anggota",
          insta: "saskiiayuu",
          imgroot: "/static/valiance/img/about_us/Kreatif/Saskia Ayu.webp",
          styleid: "",
        },
        {
          name: "Faiz Daniswara Eltri",
          jersey: 66,
          y_exp: 2,
          nicks: "Faiz",
          jabatan: "Anggota",
          insta: "fzzzell",
          imgroot: "/static/valiance/img/about_us/Kreatif/Faiz.webp",
          styleid: "",
        },
        {
          name: "Louise Sheryn Kurniadi",
          jersey: 92,
          y_exp: 1,
          nicks: "louise/sheryn",
          jabatan: "Anggota",
          insta: "_lousher",
          imgroot: "/static/valiance/img/about_us/Kreatif/Louise.webp",
          styleid: "",
        },
        {
          name: "Tara Tania Tjong",
          jersey: 77,
          y_exp: 1,
          nicks: "tania",
          jabatan: "Anggota",
          insta: "tara_taniaa",
          imgroot: "/static/valiance/img/about_us/Kreatif/Tara Tania.webp",
          styleid: "",
        },
        {
          name: "M. Chava Putra Anugra",
          jersey: 9,
          y_exp: 1,
          nicks: "capa",
          jabatan: "Anggota",
          insta: "chavaanugra_",
          imgroot: "/static/valiance/img/about_us/Kreatif/Chava.webp",
          styleid: "",
        },
        
      ],
    },
    {
      Sekbid: "Sosial",
      imgdirect: "/static/valiance/img/about_us/Sosial/Sosial.webp",
      Members: [
        {
          name: "Jason Marvel",
          jersey: 100,
          y_exp: 2,
          nicks: "Jason",
          jabatan: "Koordinator",
          insta: "Jsnn_mm",
          imgroot: "/static/valiance/img/about_us/Sosial/Jason Marvel.webp",
          styleid: "",
        },
        {
          name: "Catherine Novia Hartanto",
          jersey: 97,
          y_exp: 1,
          nicks: "cath/ceen (cn)",
          jabatan: "Anggota",
          insta: "nviaa_cath",
          imgroot: "/static/valiance/img/about_us/Sosial/Catherine.webp",
          styleid: "",
        },
        {
          name: "Rakha Aqila Astro",
          jersey: 49,
          y_exp: 1,
          nicks: "rakha / astro",
          jabatan: "Anggota",
          insta: "rakhaaqilaastroo",
          imgroot: "/static/valiance/img/about_us/Sosial/Rakha.webp",
          styleid: "",
        },
        {
          name: "Andrew Nickson",
          jersey: 47,
          y_exp: 1,
          nicks: "andrew/nick/nickson",
          jabatan: "Anggota",
          insta: "andrwnic",
          imgroot: "/static/valiance/img/about_us/Sosial/Andrew Nickson.webp",
          styleid: "",
        },
        {
          name: "Nabila Putri Awaliyah",
          jersey: 36,
          y_exp: 1,
          nicks: "Nabil / Abil / Nabila",
          jabatan: "Anggota",
          insta: "a._.bill",
          imgroot: "/static/valiance/img/about_us/Sosial/Nabila Putri.webp",
          styleid: "",
        },
        {
          name: "Lavenia Sherlifany",
          jersey: 78,
          y_exp: 1,
          nicks: "Lavee/GeoTeen/Jocey ",
          jabatan: "Anggota",
          insta: "laveniash_",
          imgroot: "/static/valiance/img/about_us/Sosial/Lavenia.webp",
          styleid: "",
        },
        {
          name: "Irene Christantie H ",
          jersey: 29,
          y_exp: 2,
          nicks: "Iyen/Anyomayi ciskek/cece ciskek",
          jabatan: "Anggota",
          insta: "Ireneeeech",
          imgroot: "/static/valiance/img/about_us/Sosial/Irene.webp",
          styleid: "",
        },
        
      ],
    },
    {
      Sekbid: "Publikasi",
      imgdirect: "/static/valiance/img/about_us/Publikasi/Publikasi.webp",
      Members: [
        {
          name: "Amelia Ramadani",
          jersey: 18,
          y_exp: 1,
          nicks: "meli/amel/ameng",
          jabatan: "Koordinator",
          insta: "ameliyarn",
          imgroot: "/static/valiance/img/about_us/Publikasi/Amelia.webp",
          styleid: "",
        },
        {
          name: "Charleen Janice Clarista",
          jersey: 80,
          y_exp: 1,
          nicks: "lookatlin/celine",
          jabatan: "Anggota",
          insta: "charleennjc",
          imgroot: "/static/valiance/img/about_us/Publikasi/Charleen.webp",
          styleid: "",
        },
        {
          name: " A Daneendra Shasikirana" ,
          jersey: 32,
          y_exp: 1,
          nicks: "kirana/kir/adek",
          jabatan: "Anggota",
          insta: "taniadndra",
          imgroot: "/static/valiance/img/about_us/Publikasi/Ahmatania.webp",
          styleid: "",
        },
        {
          name: "Nayla Salsabilla Zulva",
          jersey: 30,
          y_exp: 1,
          nicks: "nayla imut",
          jabatan: "Anggota",
          insta: "naylazulvaa",
          imgroot: "/static/valiance/img/about_us/Publikasi/Nayla.webp",
          styleid: "",
        },
        {
          name: "Raisya Zahrani Putri",
          jersey: 52,
          y_exp: 2,
          nicks: "rai/cha",
          jabatan: "Anggota",
          insta: "rraeisyaa",
          imgroot: "/static/valiance/img/about_us/Publikasi/Raisya Zahrani.webp",
          styleid: "",
        },
        {
          name: "Aisyah Raya Raihana",
          jersey: 70,
          y_exp: 2,
          nicks: "isa/raya/yaya",
          jabatan: "Anggota",
          insta: "raihanairan",
          imgroot: "/static/valiance/img/about_us/Publikasi/Aisyah Raya.webp",
          styleid: "",
        },
        {
          name: "Muhammad Farisz N. A",
          jersey: 58,
          y_exp: 2,
          nicks: "kakaissss",
          jabatan: "Anggota",
          insta: "farisz_naufal",
          imgroot: "/static/valiance/img/about_us/Publikasi/Muhammad Farisz.webp",
          styleid: "",
        },
        
      ],
    },
    {
      Sekbid: "Ketuhanan",
      imgdirect: "/static/valiance/img/about_us/ketuhanan YME/ketuhanan YME.webp",
      Members: [
        {
          name: "Justin Marguel Johanes",
          jersey: 68,
          y_exp: 2,
          nicks: "jstnnnn",
          jabatan: "Koordinator",
          insta: "justin_marguel",
          imgroot: "/static/valiance/img/about_us/ketuhanan YME/Justin Marguel.webp",
          styleid: "",
        },
        {
          name: "Francisco Andrew ",
          jersey: 6,
          y_exp: 1,
          nicks: "andrew",
          jabatan: "Anggota",
          insta: "andrewandrew47",
          imgroot: "/static/valiance/img/about_us/ketuhanan YME/Francisco.webp",
          styleid: "",
        },
        {
          name: "Felicia Monica Christine",
          jersey: 22,
          y_exp: 1,
          nicks: "cia",
          jabatan: "Anggota",
          insta: "feliciiamonica",
          imgroot: "/static/valiance/img/about_us/ketuhanan YME/Felicia Monica.webp",
          styleid: "",
        },
        {
          name: "Feola Ratu Didian",
          jersey: 84,
          y_exp: 1,
          nicks: "feo yalili",
          jabatan: "Anggota",
          insta: "feolard",
          imgroot: "/static/valiance/img/about_us/ketuhanan YME/Feola.webp",
          styleid: "",
        },
        
      ],
    },
    {
      Sekbid: "Bahasa",
      imgdirect: "/static/valiance/img/about_us/Bahasa/Bahasa.webp",
      Members: [
        {
          name: "Nathalie Budiman",
          jersey: 88,
          y_exp: 2,
          nicks: "nat",
          jabatan: "Koordinator",
          insta: "b_nathaliiie",
          imgroot: "/static/valiance/img/about_us/Bahasa/Nathalie Budiman.webp",
          styleid: "",
        },
        {
          name: "Indah Naima Chalila",
          jersey: 98,
          y_exp: 1,
          nicks: "caca marica/caca kecil/bebek",
          jabatan: "Anggota",
          insta: "nuevacaa_",
          imgroot: "/static/valiance/img/about_us/Bahasa/Indah Naima.webp",
          styleid: "",
        },
        {
          name: "Livia Atriana Taufiek",
          jersey: 5,
          y_exp: 1,
          nicks: "lip / livi",
          jabatan: "Anggota",
          insta: "lvxy.liv",
          imgroot: "/static/valiance/img/about_us/Bahasa/Livia.webp",
          styleid: "",
        },
        {
          name: "Gregorius Anselmus K",
          jersey: 54,
          y_exp: 1,
          nicks: "ansel, sel",
          jabatan: "Anggota",
          insta: "ansel.ll.g",
          imgroot: "/static/valiance/img/about_us/Bahasa/Gregorius.webp",
          styleid: "",
        },
        
        
      ],
    },
    {
      Sekbid: "Apresiasi Seni",
      imgdirect: "/static/valiance/img/about_us/Apresiasi Seni/Apresiasi Seni.webp",
      Members: [
        {
          name: "Muhammad Yusuf",
          jersey: 11,
          y_exp: 2,
          nicks: "oto/ucup/tiang",
          jabatan: "Koordinator",
          insta: "m_yusuf_aja",
          imgroot: "/static/valiance/img/about_us/Apresiasi Seni/Muhammad Yusuf.webp",
          styleid: "",
        },
        {
          name: "Krisensia Early Renata",
          jersey: 37,
          y_exp: 1,
          nicks: "Early/krisensia",
          jabatan: "Anggota",
          insta: "earlysadat",
          imgroot: "/static/valiance/img/about_us/Apresiasi Seni/Krisensia.webp",
          styleid: "",
        },
        {
          name: "Nyimas Faiza Athaya",
          jersey: 67,
          y_exp: 1,
          nicks: "paipie/fai",
          jabatan: "Anggota",
          insta: "nyfza_",
          imgroot: "/static/valiance/img/about_us/Apresiasi Seni/Nyimas Faiza.webp",
          styleid: "",
        },
        {
          name: "Yosua Pranata Sormin",
          jersey: 8,
          y_exp: 1,
          nicks: "Yosua",
          jabatan: "Koordinator",
          insta: "yosuapranatas",
          imgroot: "/static/valiance/img/about_us/Apresiasi Seni/Yosua.webp",
          styleid: "",
        },
        {
          name: "Aurel Bonnita Gultom",
          jersey: 60,
          y_exp: 1,
          nicks: "aurel",
          jabatan: "Anggota",
          insta: "aurel.bonnita",
          imgroot: "/static/valiance/img/about_us/Apresiasi Seni/Aurel.webp",
          styleid: "",
        },
        {
          name: "Elizabeth Queentina K. T",
          jersey: 57,
          y_exp: 1,
          nicks: "eliz/diva",
          jabatan: "Koordinator",
          insta: "elizqueentina",
          imgroot: "/static/valiance/img/about_us/Apresiasi Seni/Elizabeth.webp",
          styleid: "",
        },
        {
          name: "Kheiren Valentine H",
          jersey: 11,
          y_exp: 2,
          nicks: "Kheiren/keien/cicik",
          jabatan: "Koordinator",
          insta: "kheiren_khei",
          imgroot: "/static/valiance/img/about_us/Apresiasi Seni/Kheiren Valentine.webp",
          styleid: "",
        },
        
      ],
    },
    {
      Sekbid: "Komunikasi",
      imgdirect: "/static/valiance/img/about_us/Komunikasi/Komunikasi.webp",
      Members: [
        {
          name: "Kellen Nataline",
          jersey: 79,
          y_exp: 2,
          nicks: "yen / anyomayi gyigyi / mami jinjer",
          jabatan: "Koordinator",
          insta: "klln.ntlne",
          imgroot: "/static/valiance/img/about_us/Komunikasi/Kellen.webp",
          styleid: "",
        },
        {
          name: "Margaretha Queen G",
          jersey: 15,
          y_exp: 1,
          nicks: "Queen/Quma",
          jabatan: "Anggota",
          insta: "_margarethaqueen",
          imgroot: "/static/valiance/img/about_us/Komunikasi/Margaretha.webp",
          styleid: "",
        },
        {
          name: "Quinsha Fakhira",
          jersey: 25,
          y_exp: 1,
          nicks: "quin/qufa",
          jabatan: "Anggota",
          insta: "quinsha.fa",
          imgroot: "/static/valiance/img/about_us/Komunikasi/Quinsha.webp",
          styleid: "",
        },
        {
          name: "Sydney Venecia",
          jersey: 61,
          y_exp: 1,
          nicks: "sydney/ney/neyney",
          jabatan: "Anggota",
          insta: "sydney.venecia",
          imgroot: "/static/valiance/img/about_us/Komunikasi/Sydney.webp",
          styleid: "",
        },
        {
          name: "Fabian Ghafiqi Ahmad",
          jersey: 93,
          y_exp: 2,
          nicks: "piki/juyomeng/ghafi",
          jabatan: "Anggota",
          insta: "ghafqi",
          imgroot: "/static/valiance/img/about_us/Komunikasi/Fabian Ghafiqi.webp",
          styleid: "",
        },
        {
          name: "M. Daffa Aqeela Shidqi",
          jersey: 43,
          y_exp: 1,
          nicks: "Daffa",
          jabatan: "Anggota",
          insta: "chavaanugra_",
          imgroot: "/static/valiance/img/about_us/Komunikasi/Daffa.webp",
          styleid: "",
        },
        
      ],
    },
    {
      Sekbid: "Video Editor",
      imgdirect: "/static/valiance/img/about_us/Video Editor/Video Editor.webp",
      Members: [
        {
          name: "Richy Pangestu",
          jersey: 50,
          y_exp: 2,
          nicks: "Ricky",
          jabatan: "Koordinator",
          insta: "",
          imgroot: "/static/valiance/img/about_us/Video Editor/Richy.webp",
          styleid: "",
        },
        {
          name: "Rida Alisya Rianti",
          jersey: 34,
          y_exp: 1,
          nicks: "cia/alisya/rida",
          jabatan: "Anggota",
          insta: "ridaalisyaa",
          imgroot: "/static/valiance/img/about_us/Video Editor/Rida.webp",
          styleid: "",
        },
        {
          name: "Nayla Azzahra H M",
          jersey: 14,
          y_exp: 1,
          nicks: "nayla, nanay",
          jabatan: "Anggota",
          insta: "nayylazzahra_",
          imgroot: "/static/valiance/img/about_us/Video Editor/Nayla.webp",
          styleid: "",
        },
        {
          name: "Abdul Atha Mori",
          jersey: 39,
          y_exp: 1,
          nicks: "aeronshiki",
          jabatan: "Anggota",
          insta: "thawrld__",
          imgroot: "/static/valiance/img/about_us/Video Editor/Abdul Atha.webp",
          styleid: "",
        },
        {
          name: "M. Adly Fawwazy G",
          jersey: 86,
          y_exp: 1,
          nicks: "dly/adly/adly pro hengker",
          jabatan: "Anggota",
          insta: "adlfgmy",
          imgroot: "/static/valiance/img/about_us/Video Editor/Adly.webp",
          styleid: "",
        },
        
      ],
    },
    {
      Sekbid: "Ilustrasi",
      imgdirect: "/static/valiance/img/about_us/Ilustrator/Ilustrator.webp",
      Members: [
        {
          name: "Erika Syaputri",
          jersey: 48,
          y_exp: 2,
          nicks: "Erika/rika/er",
          jabatan: "Koordinator",
          insta: "er1ka_er",
          imgroot: "/static/valiance/img/about_us/Ilustrator/Erika.webp",
          styleid: "",
        },
        {
          name: "Artha Surya Pratama",
          jersey: 46,
          y_exp: 1,
          nicks: "Art",
          jabatan: "Anggota",
          insta: "artha_5p",
          imgroot: "/static/valiance/img/about_us/Ilustrator/Artha Surya.webp",
          styleid: "",
        },
        {
          name: "Gabriela Ivana S. ",
          jersey: 94,
          y_exp: 2,
          nicks: "ivana",
          jabatan: "Anggota",
          insta: "gavinconstanze",
          imgroot: "/static/valiance/img/about_us/Ilustrator/Gabriela.webp",
          styleid: "",
        },
        {
          name: "Cheryl Vincentia",
          jersey: 89,
          y_exp: 1,
          nicks: "ceri/cheryl",
          jabatan: "Anggota",
          insta: "chervinn_",
          imgroot: "/static/valiance/img/about_us/Ilustrator/Cheryl.webp",
          styleid: "",
        },
        {
          name: "Calvin Chiandiary",
          jersey: 91,
          y_exp: 1,
          nicks: "Calvin",
          jabatan: "Anggota",
          insta: "calvin_chd",
          imgroot: "/static/valiance/img/about_us/Ilustrator/Calvin.webp",
          styleid: "",
        },
        
        
      ],
    },
    {
      Sekbid: "Producer",
      imgdirect: "/static/valiance/img/about_us/Producer/Producer.webp",
      Members: [
        {
          name: "Kelly Louis Alpendo",
          jersey: 27,
          y_exp: 2,
          nicks: "Kel",
          jabatan: "Anggota",
          insta: "louissss_ssss",
          imgroot: "/static/valiance/img/about_us/Producer/Kelly Louis.webp",
          styleid: "",
        },
        {
          name: "Cindy Chrisanta T ",
          jersey: 24,
          y_exp: 2,
          nicks: "Boti",
          jabatan: "Koordinator",
          insta: "cndychrsnt_",
          imgroot: "/static/valiance/img/about_us/Producer/Cindy.webp",
          styleid: "",
        },
        {
          name: "Joceline Chrestella E",
          jersey: 21,
          y_exp: 2,
          nicks: "Jocey/Lapey",
          jabatan: "Anggota",
          insta: "J.cclle",
          imgroot: "/static/valiance/img/about_us/Producer/Joceline.webp",
          styleid: "",
        },
        {
          name: "Aveline Calista Z. A",
          jersey: 83,
          y_exp: 1,
          nicks: "velline/pelline/apelin",
          jabatan: "Anggota",
          insta: "vellineee1",
          imgroot: "/static/valiance/img/about_us/Producer/Aveline.webp",
          styleid: "",
        },
        {
          name: "Muhammad Athallah R",
          jersey: 64,
          y_exp: 1,
          nicks: "Rasya/Sya",
          jabatan: "Anggota",
          insta: "athallah_rasya12",
          imgroot: "/static/valiance/img/about_us/Producer/Athallah Rasya.webp",
          styleid: "",
        },
        
      ],
    },
    {
      Sekbid: "ESG",
      imgdirect: "/static/valiance/img/about_us/ESG/ESG.webp",
      Members: [
        {
          name: "Chrisrainito Core",
          jersey: 16,
          y_exp: 2,
          nicks: "Chris, Rain, Core",
          jabatan: "Koordinator",
          insta: "chrisrainito",
          imgroot: "/static/valiance/img/about_us/ESG/Christanito Core.webp",
          styleid: "",
        },
        {
          name: "Wylseen Marvellino",
          jersey: 53,
          y_exp: 1,
          nicks: "Wilsin/Senn/Wichan",
          jabatan: "Anggota",
          insta: "vvylsn_",
          imgroot: "/static/valiance/img/about_us/ESG/Wylseen.webp",
          styleid: "",
        },
        {
          name: "Delbert Antonio",
          jersey: 71,
          y_exp: 1,
          nicks: "Del/Bert",
          jabatan: "Anggota",
          insta: "delbertantonio_",
          imgroot: "/static/valiance/img/about_us/ESG/Delbert.webp",
          styleid: "",
        },
        {
          name: "Halimah Hazarani",
          jersey: 19,
          y_exp: 1,
          nicks: "Ima",
          jabatan: "Anggota",
          insta: "ima.hazarani",
          imgroot: "/static/valiance/img/about_us/ESG/Halimah.webp",
          styleid: "",
        },
        {
          name: "Angelina Michelle",
          jersey: 38,
          y_exp: 1,
          nicks: "michelle/micel",
          jabatan: "Anggota",
          insta: "mic.ell_",
          imgroot: "/static/valiance/img/about_us/ESG/Angelina Michelle.webp",
          styleid: "",
        },
        {
          name: "Callysta Nathania",
          jersey: 24,
          y_exp: 1,
          nicks: "callysta",
          jabatan: "Anggota",
          insta: "callystanthnia",
          imgroot: "/static/valiance/img/about_us/ESG/Callysta Nathania.webp",
          styleid: "",
        },
        {
          name: "Aji Wibawa",
          jersey: 65,
          y_exp: 1,
          nicks: "awee/aw/ajie",
          jabatan: "Anggota",
          insta: "ajiweebawa",
          imgroot: "/static/valiance/img/about_us/ESG/Aji Wibawa.webp",
          styleid: "",
        },
        {
          name: "Nazriyah Fatilah Zakaria ",
          jersey: 62,
          y_exp: 1,
          nicks: "nanas/tila",
          jabatan: "Anggota",
          insta: "nana.zftz",
          imgroot: "/static/valiance/img/about_us/ESG/Nazriyah.webp",
          styleid: "",
        },
        
      ],
    },
  ];

  for (sekbid in DataArray) {
    const sekItem = document.createElement('div');
    sekItem.className = "sekbid-item";
    document.body.querySelector('.sekbid-container').append(sekItem);
    SelectionsContainer.innerHTML +=  `<a href="#${DataArray[sekbid].Sekbid}"><button>${DataArray[sekbid].Sekbid}</button></a>`
    sekItem.innerHTML += `
    <div class="frame" id="${DataArray[sekbid].Sekbid}">
      <div class="inner-frame">
        <img
          src="${DataArray[sekbid].imgdirect}"
          alt=""
        />
      </div>
      <h1>${DataArray[sekbid].Sekbid}</h1>
    </div>
    `;
    for (member in DataArray[sekbid].Members) {
      sekItem.innerHTML += `
      <div class="frame-card">
      <img
        class="individual-photo"
        src="${DataArray[sekbid].Members[member].imgroot}"
        alt="profile img not loaded"
        id="${DataArray[sekbid].Members[member].styleid}"
      />
      <h1 class="individual-number">${DataArray[sekbid].Members[member].jersey}</h1>
      <h1 class="years-experience"><span>${DataArray[sekbid].Members[member].y_exp}</span> Years Experience</h1>
      <div class="lower-frame-card">
        <span class="name-heading">${DataArray[sekbid].Members[member].name}</span>
        <span class="nickname-heading">/${DataArray[sekbid].Members[member].nicks}/</span>
        <span class="jabatan-heading">${DataArray[sekbid].Members[member].jabatan}</span>
        <div class="line-cut2"></div>
        <div class="footer-card">
          <a
            href="https://www.instagram.com/${DataArray[sekbid].Members[member].insta}/?hl=en"
            class="instagram-redirect"
            ><i class="bx bxl-instagram-alt"></i
          ></a>
          <img
            class="frame-logo"
            src="{{ url_for('static', filename='valiance/img/logo/valiancelogo.png') }}"
            alt=""
          />
        </div>
        </div>
        </div>
        `
    }
  }


  // Second Navbar

  const scrollContainer = document.querySelector(".SelectionsContainer");

      scrollContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY + evt.deltaX; // Scrolls horizontally
      });
      function changeScrollPage(n) {
        if (n == 0) {
          if (scrollContainer.scrollLeft > scrollContainer.clientWidth) {
            scrollContainer.scrollTo({
              left: scrollContainer.scrollLeft - scrollContainer.clientWidth,
              behavior: "smooth",
            });
          } else {
            scrollContainer.scrollTo({
              left: 0,
              behavior: "smooth",
            });
          }
        }
        if (n == 1) {
          if (
            scrollContainer.scrollWidth >
            scrollContainer.clientWidth + scrollContainer.scrollLeft
          ) {
            scrollContainer.scrollTo({
              left: scrollContainer.scrollLeft + scrollContainer.clientWidth,
              behavior: "smooth",
            });
          } else {
            scrollContainer.scrollTo({
              left: scrollContainer.scrollWidth - scrollContainer.clientWidth,
              behavior: "smooth",
            });
          }
        }
      }
</script>
    <svg
      class="waves-footer"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        filter="url(#waveShadow)"
        fill="rgb(124, 28, 28)"
        fill-opacity="1"
        d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      ></path>
    </svg>

    {% endblock main %}
  </div>
</div>
