{% extends "valiance/layout.html" %} {% block css_js %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/e_atheria.css') }}"
/>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const competitionData = {
      wajib: [
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/classwar.jpg') }}",
          title: "Classwar",
          link: "/Valiance/Events/Atheria/Classwar",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/family_100.jpg') }}",
          title: "Family 100",
          link: "/Valiance/Events/Atheria/Family_100",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/cooking.jpg') }}",
          title: "Lomba Masak",
          link: "/Valiance/Events/Atheria/Masak",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/estafet_balon.jpg') }}",
          title: "Lomba Estafet Balon Seragam",
          link: "/Valiance/Events/Atheria/Estafet_Balon",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/dragonball.jpeg') }}",
          title: "Lomba Estafet Dragon Ball",
          link: "/Valiance/Events/Atheria/Estafet_DragonBall",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/catur.jpg') }}",
          title: "Lomba Catur",
          link: "/Valiance/Events/Atheria/Catur",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/poster-nyanyi.jpg') }}",
          title: "Lomba Nyanyi",
          link: "/Valiance/Events/Atheria/Nyanyi",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/cosplay.jpg') }}",
          title: "Lomba Cosplay",
          link: "/Valiance/Events/Atheria/Cosplay",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/creativity.jpg') }}",
          title: "Lomba Creativity In Vidio",
          link: "/Valiance/Events/Atheria/Creativity_in_Vidio",
        },
      ],
      tidakWajib: [
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/futsal.png') }}",
          title: "Lomba Futsal",
          link: "/Valiance/Events/Atheria/Futsal",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/badminton.jpg') }}",
          title: "Lomba Badminton",
          link: "/Valiance/Events/Atheria/Badminton",
        },
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/mobile_legends.jpg') }}",
          title: "Lomba Mobile Legends",
          link: "/Valiance/Events/Atheria/Mobile_Legends",
        },
      ],
      workshop: [
        {
          image: "{{ url_for('static', filename='valiance/img/atheria/workshop.jpeg') }}",
          title: "Workshop Baking",
          link: "/Valiance/Events/Atheria/Workshop_Baking",
        },
      ],
    };

    const renderPosters = (data, containerSelector) => {
      const container = document.querySelector(containerSelector);
      if (container) {
        container.innerHTML = "";
        data.forEach((comp) => {
          const poster = document.createElement("div");
          poster.className = "image-container hidden";

          poster.innerHTML = `
            <img id="poster" src="${comp.image}" alt="${comp.title}">
            <div class="cta-link">
              <a href="${comp.link}" class="link-cta">Register ${comp.title}</a>
            </div>
          `;

          container.appendChild(poster);
        });

        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("show");
            }
          });
        });

        const hiddenElements = container.querySelectorAll(".hidden");
        hiddenElements.forEach((el) => observer.observe(el));
      }
    };

    renderPosters(competitionData.wajib, ".performance.wajib .gambar");
    renderPosters(competitionData.tidakWajib, ".performance.tidak-wajib .gambar");
    renderPosters(competitionData.workshop, ".performance.workshop .gambar");
  });
</script>


{% endblock css_js %} {% block title %}Atheria{% endblock title %} {% block
main%}
<!-- Banner Section -->
<section class="banner">
  <img
    src="{{ url_for('static', filename='valiance/img/banner/atheria_banner.jpg') }}"
    alt="banner"
  />
  <section class="gradient-banner"></section>
</section>

<!-- Poster Wajib -->
<section class="content second-content">
  <div class="performance wajib">
    <h1 class="hidden">Lomba Wajib</h1>
    <div class="gambar"></div>
  </div>
</section>

<!-- Poster Tidak Wajib -->
<section class="content second-content">
  <div class="performance tidak-wajib">
    <h1 class="hidden">Lomba Tidak Wajib</h1>
    <div class="gambar"></div>
  </div>
</section>

<!-- Workshop -->
<section class="content second-content">
  <div class="performance workshop">
    <h1 class="hidden">Workshop</h1>
    <div class="gambar"></div>
  </div>
</section>


<svg
  class="waves-footer"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1440 320"
>
  <path
    fill="rgb(248, 211, 67)"
    fill-opacity="1"
    d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
  ></path>
</svg>

{% endblock main %}
