{% extends "valiance/layout.html" %} 
{% block css_js %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/e_cny.css') }}" />
<script src="{{ url_for('static', filename='valiance/js/e_cny.js') }}"></script>

<script>
  // start

  const start = () => {
    setTimeout(function () {
      spark.start();
    }, 1000); // 1000 is time that after 1 second start the spark ( 1000 = 1 sec)
  };

  //  Stop

  const stop = () => {
    setTimeout(function () {
      spark.stop();
    }, 5000); // 5000 is time that after 5 second stop the spark ( 5000 = 5 sec)
  };

  start();
  // stop();
</script>
{% endblock css_js %} 
{% block title %}She Hua Jie{% endblock title %} 
{% block main %}
<!-- Banner Section -->
<section class="banner" id="banner">
  <img
    src="{{ url_for('static', filename='valiance/img/banner/shehuajie_banner.png') }}"
    alt="banner"
  />
  <section class="gradient-banner"></section>
</section>

<!-- About Section -->
<section class="about"> 
  <h1 class="hidden">About She Hua Jie</h1>
  <p class="hidden">
    蛇华节 （she hua jie） memiliki arti 'festival ular megah'. Tahun 2025 merupakan Tahun Ular Air (Gui Si) dalam kalender Tionghoa. Oleh karena itu, nama "蛇华节" sangat relevan dengan perayaan Imlek 2025, karena ular merupakan simbol dari tahun tersebut. Nama ini sangat mewakili perayaan imlek di IGS yang megah dan meriah yang dipenuhi aktivitas dan kekreativitasan siswa-siswi.
  </p>

  <div class="kewa">
    <div class="kepan hidden">
      <p><b>Ketua Panitia</b></p>
      <p>Jason Marvel</p>
    </div>
    <div class="kepan hidden">
      <p><b>Wakil Ketua Panitia 1</b></p>
      <p>Lavenia Sherlifany</p>
    </div>
    <div class="kepan hidden">
      <p><b>Wakil Ketua Panitia 2</b></p>
      <p>Andrew Nickson</p>
    </div>
    <div class="kepan hidden">
      <p><b>Ketua Acara</b></p>
      <p>Sydney Venecia</p>
    </div>
  </div>
</section>

<!-- Content Section -->
<section class="content">
  <!-- Performance Section -->
  <div class="performance">
    <h1 class="hidden">Performances</h1>
    <div class="lists">
      <div
        onclick="showDetail('Barongsai', 'bx bxs-mask bx-tada', 'Barongsai adalah tarian tradisional Tionghoa yang identik dengan perayaan Imlek. Tarian ini menggunakan kostum menyerupai singa, dimainkan oleh dua orang penari yang menunjukkan kelincahan dan kekompaka🏮🐉⛩️.')"
        class="list hidden"
      >
        <i class="bx bxs-mask bx-tada"></i>
        <p>Barongsai</p>
      </div>
      <div
        onclick="showDetail('Koko Cici', 'bx bx-male-female bx-tada', 'Dalam perayaan Imlek, Koko Cici adalah sebutan untuk duta budaya Tionghoa yang biasanya terpilih melalui ajang pemilihan seperti Koko Cici Jakarta. Koko Cici memiliki peran untuk menampilkan budaya Tionghoa dan sering terlihat dalam berbagai acara Imlek, mengenakan pakaian tradisional seperti cheongsam atau changshan. ')"
        class="list hidden"
      >
        <i class="bx bx-male-female bx-tada"></i>
        <p>Koko Cici</p>
      </div>
      <div
        onclick="showDetail('Fireworks', 'bx bxs-hot bx-tada', 'Apa arti tahun baru tanpa kembang api🔥🧨? Saat langit malam dihiasi ledakan warna-warni, setiap dentuman bukan hanya sekadar hiburan, tapi simbol harapan dan awal baru yang penuh semangat. Imlek tahun ini kembang api menjadi penutup yang dapat membangkitkan moment bersama semua orang.')"
        class="list hidden"
      >
        <i class="bx bxs-hot bx-tada"></i>
        <p>Fireworks</p>
      </div>
    </div>
  </div>

  <!-- Competition Section -->
  <div class="performance">
    <h1 class="hidden">Competition</h1>
    <div class="lists">
      <div
        onclick='showDetail("Koko Cici", "bx bx-male-female bx-tada", "Dalam perayaan Imlek, Koko Cici adalah sebutan untuk duta budaya Tionghoa yang biasanya terpilih melalui ajang pemilihan seperti Koko Cici Jakarta. Koko Cici memiliki peran untuk menampilkan budaya Tionghoa dan sering terlihat dalam berbagai acara Imlek, mengenakan pakaian tradisional seperti cheongsam atau changshan. ")'
        class="list hidden"
      >
        <i class="bx bx-male-female bx-tada"></i>
        <p>Koko Cici</p>
      </div>
      <div
        onclick='showDetail("Vlog", "bx bx-video bx-tada", "Pada lomba ini para peserta akan membuat vlog mengenai event imlek.")'
        class="list hidden"
      >
        <i class="bx bx-video bx-tada"></i>
        <p>Vlog Competition</p>
      </div>
      <div
        onclick='showDetail("Photobooth", "bx bxs-camera-home bx-tada", "Pada lomba ini para peserta akan membuat vlog mengenai event imlek.")'
        class="list hidden"
      >
        <i class="bx bxs-camera-home bx-tada"></i>
        <p>Photobooth</p>
      </div>w
    </div>
  </div>

  <!-- Fun Activity Section -->

  <div class="performance">
    <h1 class="hidden">Fun Activities</h1>
    <div class="lists">
      <div
        onclick="showDetail('Layangan dan Lampion', 'bx bxs-rocket', 'Pada lomba ini, siswa-siswi dari jurusan Seni Lukis mendekorasikan layangan dan kemudian bersaing untuk mendapatkan penghargaan terbaik. Lomba ini menguji kemampuan siswa dari segi estetika dan kreativitas.')"
        class="list hidden"
      >
        <i class="bx bxs-rocket"></i>
        <p>Layangan dan Lampion</p>
      </div>
      <div
        onclick="showDetail('Wish Board', 'bx bx-clipboard bx-tada', 'Wishboard diisi dengan ucapan tahun baru dan unsur-unsur budaya Tionghoa. Wishboard ini digunakan sebagai media untuk mengembangkan kosakata bahasa Mandarin serta pengetahuan mengenai kebiasaan-kebiasaan pada perayaan tahun baru Imlek.')"
        class="list hidden"
      >
        <i class="bx bx-clipboard bx-tada"></i>
        <p>Wish Board</p>
      </div>
    </div>
  </div>
</section>

<!-- Detail -->
<div class="detail" id="detail">
  <div class="detail-container">
    <div class="content">
      <div onclick="closeDetail()" class="close">
        <i class="bi bi-x-circle"></i>
      </div>
      <div class="content-desc">
        <h2 id="detail-heading"></h2>
        <p id="detail-desc"></p>
      </div>
      <div class="content-logo">
        <i id="detail-logo"></i>
      </div>
    </div>
  </div>
</div>

<!-- Content Section -->
<section class="content" id="competition">
  <!-- Fireworks Section -->
  <div id="firework-container"></div>
  <!-- Competition Section -->
  <div class="performance">
    <section class="content second-content">
      <div class="performance wajib">
        <h1 class="hidden">Registrasi Lomba</h1>
        <div class="gambar"></div>
      </div>
    </section>
  </div>
</section>

<!-- Footer Section -->
<svg
  class="waves-footer"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1440 320"
  id="footer"
>
  <path
    filter="url(#waveShadow3)"
    fill="rgb(232, 104, 65)"
    fill-opacity="1"
    d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
  ></path>
</svg>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const competitionData = {
      wajib: [
        {
          image:
            "{{ url_for('static', filename='valiance/img/cny/kokocici-fix.jpg') }}",
          title: "Lomba KokoCici",
          link: "/Events/SheHuaJie/KokoCici",
        },
        {
          image:
            "{{ url_for('static', filename='valiance/img/cny/vlog-new-fix.jpg') }}",
          title: "Lomba Vlog",
          link: "/Events/SheHuaJie/Vlog",
        },
        {
          image:
            "{{ url_for('static', filename='valiance/img/cny/photoshoot-fix-new-fix.jpg') }}",
          title: "Lomba Photoshoot",
          link: "/Events/SheHuaJie/Photoshoot",
        },
        {
          image:
            "{{ url_for('static', filename='valiance/img/cny/dekor-fix.jpg') }}",
          title: "Lomba Dekorasi",
          link: "/Events/SheHuaJie/Dekorasi",
        },
      ],
    };

    const renderPosters = (data, containerSelector) => {
      const container = document.querySelector(containerSelector);
      if (container) {
        container.innerHTML = "";
        data.forEach((comp) => {
          const poster = document.createElement("div");
          poster.className = "image-container hidden";

          poster.innerHTML = `
            <img id="poster" src="${comp.image}" alt="${comp.title}">
            <div class="cta-link">
              <a href="${comp.link}" class="link-cta">View Details</a>
            </div>
          `;

          container.appendChild(poster);
        });

        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("show");
            }
          });
        });

        const hiddenElements = container.querySelectorAll(".hidden");
        hiddenElements.forEach((el) => observer.observe(el));
      }
    };

    renderPosters(competitionData.wajib, ".performance.wajib .gambar");
    renderPosters(
      competitionData.tidakWajib,
      ".performance.tidak-wajib .gambar"
    );
    renderPosters(competitionData.workshop, ".performance.workshop .gambar");
  });
</script>
{% endblock main %}
