{% extends "valiance/layout.html" %} {% block css_js %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/e_kandela.css') }}"
/>

{% endblock css_js %} {% block title %}Kandela{% endblock title %} {% block
main%}
<!-- Banner Section -->
<section class="banner">
  <img
    src="{{ url_for('static', filename='valiance/img/banner/kandela_banner.png') }}"
    alt="banner"
  />
  <section class="gradient-banner"></section>
</section>

<!-- About Section -->
<section class="about">
  <h1 class="hidden">About Kandela</h1>
  <p class="hidden">
    Kandela adalah tema Hari Guru yang terinspirasi dari slogan
    <b>"Bergerak Bersama Rayakan Merdeka Belajar"</b> serta satuan internasional
    untuk intensitas cahaya, melambangkan semangat acara ini untuk bersinar
    gemilang. Dalam suasana penuh antusiasme, Kandela menghadirkan berbagai
    penampilan memukau, permainan seru, dan aktivitas menarik yang melibatkan
    guru serta siswa, untuk merayakan dedikasi para pendidik
  </p>

  <div class="kewa">
    <div class="kepan hidden">
      <p><b>Ketua Panitia</b></p>
      <p>M Satria Alfahri</p>
    </div>
    <div class="kepan hidden">
      <p><b>Wakil Ketua Panitia</b></p>
      <p>Indah Naima Chalila</p>
    </div>
    <div class="kepan hidden">
      <p><b>Ketua Acara</b></p>
      <p>Angelina Michelle</p>
    </div>
  </div>
</section>

<!-- Content Section -->
<section class="content">
  <!-- Performance Section -->
  <div class="performance">
    <h1 class="hidden">Activities & Performances</h1>
    <div class="lists">
      <div
        onclick="showDetail('Sing Performance', 'bx bxs-music bx-tada', 'Performace kali ini akan di bawakan oleh sekbid apresiasi seni yang akan membawakan lagu `Hymne Guru`. Sebagi bentuk apresiasi atas jasa dan peran para guru dalam mendidik siswa siswi.')"
        class="list hidden"
      >
        <i class="bx bxs-music bx-tada"></i>
        <p>Sing Performance</p>
      </div>
      <div
        onclick="showDetail('Tari Tanggai Performance', 'bx bxs-group bx-tada', 'Tari Tanggai merupakan tari tradisional yang berasal dari Palembang. Tari ini ditampilkan pada event Kandela dalam bentuk apresiasi kepada para guru dalam simbol penghormatan dalam peran mereka yang mendedikasi para murid.')"
        class="list hidden"
      >
        <i class="bx bxs-group bx-tada"></i>
        <p>Tari Tanggai Performance</p>
      </div>
      <div
        onclick="showDetail('Blindfold LTBB', 'bx bxs-hide bx-tada', 'Permainan ini akan di laksanakan dalam tiga sesi, setiap sesi berdurasi 15 menit. Setiap peserta akan diberikan masing - masing 1 pcs masker medis untuk menutupi mata.  Lalu seluruh peserta dalam tim akan diminta untuk membentuk formasi barisan 2 orang baris menyamping dan 3 orang baris ke belakang. Setelah itu panitia akan memberi arahan gerakan baris membaris. Dan tim yang paling rapi, kompak, dan teratur akan memenangkan lomba ini. Kegiatan ini dapat meningkatkan fokus dan juga kreativitas dalam berkomunikasi agar kompak.')"
        class="list hidden"
      >
        <i class="bx bxs-hide bx-tada"></i>
        <p>Blindfold LTBB</p>
      </div>
      <div
        onclick="showDetail('Follow the Instruction', 'bx bx-body bx-tada', 'Para peserta akan ditampilkan berbagai challenge yang di tampilkan pada vidiotron dari TIM OSIS. Lalu para peserta akan dengan cepat melakukan challenge tersebut dan menunjukkan bukti bahwa mereka telah melaksanakannya. Panitia akan melihat bukti tersebut jika benar maka peserta akan di beri hadiah dan panitia akan lanjut ke challenge selanjutnya.')"
        class="list hidden"
      >
        <i class="bx bx-body bx-tada"></i>
        <p>Follow the Instruction</p>
      </div>
    </div>
  </div>

  <!-- Competition Section -->
  <div class="performance">
    <h1 class="hidden">Competition</h1>
    <div class="lists">
      <div
        onclick="showDetail('Arrange Coloured Cup', 'bi bi-cup-fill bx-tada', 'Setiap tim akan berbaris memanjang kebelakang dan salah satu peserta akan berdiri didepan kardus untuk memberitahu jika ada berapa cup yang benar. Lalu setiap anggota akan bergantian untuk menyusun cup hingga semuanya tersusun dengan benar. Dan tim tercepat menyusun dengan benar akan menang. Kegiatan ini dapat melatih kerja sama antar guru.')"
        class="list hidden"
      >
        <i class="bi bi-cup-fill bx-tada"></i>
        <p>Arrange Coloured Cup</p>
      </div>
      <div
        onclick='showDetail("The Teacher`s Voice", "bx bxs-microphone bx-tada", "Para guru akan menampilkan bakat-bakat terpendam mereka dalam suasana menghibur. Dan setelah menampilkan bakat akan langsung dinilai oleh juri. Lalu dalam kegiatan ini merupakan ajang untuk mengapresiasi sisi lain dari para guru yang sangat inspiratif dan penuh talenta")'
        class="list hidden"
      >
        <i class="bx bxs-microphone bx-tada"></i>
        <p>The Teachers' Voice</p>
      </div>
      <div
        onclick="showDetail('Cooking', 'bx bxs-bowl-hot bx-tada', 'Setiap tim akan memasak salah satu menu yaitu Mie atau Nasi Goreng dengan anggaran yang diberikan dari pihak sekolah untuk membeli bahan utama. Peserta diperbolehkan membawa bahan tambahan sebagai pelengkap sesuai dengan kreativitas masing-masing. Lalu pihak sekolah akan menyediakan kompor dan para peserta harus membawa alat masak sendiri. Waktu untuk memasak dan menghias hidangan adalah selama 60 menit. Para peserta harus datang tepat waktu, tidak diperkenankan untuk meninggalkan lokasi lomba kecuali ada hal yang mendesak, dan para peserta harus menjaga ketengan ketika lomba berlangsung. Setelah waktu sudah habis para peserta akan menyajikan hidangan mereka kepada juri. Dalam kegiatan ini dapat meningkatkan kreativitas para guru.')"
        class="list hidden"
      >
        <i class="bx bxs-bowl-hot bx-tada"></i>
        <p>Cooking</p>
      </div>
      <div
        onclick="showDetail('Trilomba', 'bx bx-run bx-tada', 'Setiap tim akan mengikuti tiga tantangan yaitu merangkak pada rumput sintesis untuk mendapatkan pass card, lalu untuk mendapatkan pass card kedua adalah dengan menutup pipa bocor dengan tangan hingga terisi penuh, dan menahan baskom berisi air dengan kaki mereka selama 10 detik untuk mendapatkan pass card terahkir. Tim tercepat menyelesaikan semua tantangan akan menang.')"
        class="list hidden"
      >
        <i class="bx bx-run bx-tada"></i>
        <p>Trilomba</p>
      </div>
    </div>
  </div>
</section>

<!-- Detail -->
<div class="detail" id="detail">
  <div class="detail-container">
    <div class="content">
      <div onclick="closeDetail()" class="close">
        <i class="bi bi-x-circle"></i>
      </div>
      <div class="content-desc">
        <h2 id="detail-heading">Band Performance</h2>
        <p id="detail-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni
          impedit veniam quia quod unde dignissimos officia consequuntur harum.
          Quidem necessitatibus doloribus quae at! Cum hic commodi beatae maxime
          voluptates.
        </p>
      </div>
      <div class="content-logo">
        <i id="detail-logo"></i>
      </div>
    </div>
  </div>
</div>

<svg class="waves-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <defs>
    <filter id="waveShadow" x="-50%" y="-50%" width="200%" height="200%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="10" result="blur" />
      <feOffset in="blur" dx="0" dy="0" result="offsetBlur" />
      <feFlood flood-color="white" flood-opacity="1" result="color" />
      <feComposite in2="offsetBlur" operator="in" result="shadow" />
      <feMerge>
        <feMergeNode in="shadow" />
        <feMergeNode in="SourceGraphic" />
      </feMerge>
    </filter>
  </defs>

  <path
    filter="url(#waveShadow)"
    fill="rgb(250, 150, 200)"
    fill-opacity="1"
    d="M0,96L21.8,117.3C43.6,139,87,181,131,186.7C174.5,192,218,160,262,133.3C305.5,107,349,85,393,106.7C436.4,128,480,192,524,218.7C567.3,245,611,235,655,240C698.2,245,742,267,785,240C829.1,213,873,139,916,122.7C960,107,1004,149,1047,154.7C1090.9,160,1135,128,1178,112C1221.8,96,1265,96,1309,106.7C1352.7,117,1396,139,1418,149.3L1440,160L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"
  ></path>
</svg>

{% endblock main %}
