{% extends "valiance/layout.html" %} {% block css_js %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/e_questival.css') }}"
/>

{% endblock css_js %} {% block title %}Questival{% endblock title %} {% block
main%}
<!-- Banner Section -->
<section class="banner">
  <img
    src="{{ url_for('static', filename='valiance/img/banner/questival_banner.jpg') }}"
    alt="banner"
  />
  <section class="gradient-banner"></section>
</section>

<!-- About Section -->
<section class="about">
  <h1 class="hidden">About Questival</h1>
  <p class="hidden">
    Questival merupakan nama yang berasal dari gabubgan quest dan juga festival. Quest disini memiliki arti seperti lomba dan festival sebagai festivalnya. Dalam event Questival ini para siswa dapat mengikuti berbagai jenis lomba dan juga minigames yang dapat memperat hubungan pertemanan dan juga solidaritas. Questival juga menjadi ajang healing untuk para siswa setelah melaksanakan ujian dan juga p5 bersama teman-temannya.
  </p>

  <div class="kewa">
    <div class="kepan hidden">
      <p><b>Ketua Panitia</b></p>
      <p>Fabian Ghafiqi Ahmad</p>
    </div>
    <div class="kepan hidden">
      <p><b>Wakil Ketua Panitia</b></p>
      <p>M. Adly Fawwazy Gumay</p>
    </div>
    <div class="kepan hidden">
      <p><b>Wakil Ketua Panitia 2</b></p>
      <p>Quinsha Fakhira</p>
    </div>
    <div class="kepan hidden">
      <p><b>Ketua Acara</b></p>
      <p>Nayla Salsabilla Zulva</p>
    </div>
  </div>
</section>

<!-- Content Section -->
<section class="content">
  <!-- Performance Section -->
  <div class="performance">
    <h1 class="hidden">Activities & Performances</h1>
    <div class="lists">
      <div
        onclick="showDetail('Pentasonix', 'bx bx-music bx-tada', 'Pada classmeet kali ini Pentasonix akan menampilkan pertunjukkan spesial dari grup vokal yang membawakan lagu `Mata ke Hati` by Hivi.')"
        class="list hidden"
      >
        <i class="bx bx-music bx-tada"></i>
        <p>Pentasonix</p>
      </div>
      <div
        onclick="showDetail('Pencak Silat', 'bx bx-run bx-tada', 'Pertunjukan seni bela diri tradisional yang memadukan gerakan teknik, konsentrasi, dan nilai-nilai budaya.')"
        class="list hidden"
      >
        <i class="bx bx-run bx-tada"></i>
        <p>Pencak Silat</p>
      </div>
      <div
        onclick="showDetail('The Pria', 'bx bx-volume-full bx-tada', 'Persembahan musik penuh semangat dari The Pria dengan lagu “You Give Love a Bad Name” oleh Bon Jovi. Lagu rock klasik ini dibawakan dengan energi dan gaya khas yang menghibur.')"
        class="list hidden"
      >
        <i class="bx bx-volume-full bx-tada"></i>
        <p>The Pria</p>
      </div>
      <div
        onclick="showDetail('Tarot Reading', 'bx bx-spreadsheet bx-tada', 'Booth interaktif di mana peserta dapat mencoba membaca kartu tarot sebagai bentuk hiburan dan refleksi diri. ')"
        class="list hidden"
      >
        <i class="bx bx-spreadsheet bx-tada"></i>
        <p>Tarot Reading</p>
      </div>
      <div
        onclick="showDetail('Lie Detector', 'bx bx-pulse bx-tada', 'Permainan santai di mana peserta menjawab pertanyaan sambil diuji kejujurannya melalui alat pendeteksi kebohongan sederhana. Aktivitas ini mengundang tawa dan rasa penasaran.')"
        class="list hidden"
      >
        <i class="bx bx-pulse bx-tada"></i>
        <p>Lie Detector</p>
      </div>
      <div
        onclick="showDetail('Tahan Tawa: Eye Contact', 'bx bx-happy bx-tada', 'Tantangan saling menatap tanpa tertawa. Aktivitas ringan yang melatih fokus dan kontrol emosi menciptakan suasana seru dan lucu di antara para peserta.')"
        class="list hidden"
      >
        <i class="bx bx-happy bx-tada"></i>
        <p>Tahan Tawa: Eye Contact</p>
      </div>
      <div
        onclick="showDetail('Basket', 'bx bx-basketball bx-tada', 'Pertandingan basket yang seru antar tim dengan semangat berkompetisi dan kekompakan tim yang tinggi hadir untuk memeriahkan event Questival')"
        class="list hidden"
      >
        <i class="bx bx-basketball bx-tada"></i>
        <p>Basket</p>
      </div>
      <div
        onclick="showDetail('Squid Game 5v5', 'bx bx-joystick bx-tada', 'Tahapan-tahapan permainan yang berbeda  membuat permainan ini sangat menantang kemampuan kerja sama tim dan skill permainan setiap orangnya.')"
        class="list hidden"
      >
        <i class="bx bx-joystick bx-tada"></i>
        <p>Squid Game 5v5</p>
      </div>
      <div
        onclick="showDetail('Deaf, Blind, Mute Baking', 'bx bx-cake bx-tada', 'Peserta akan dibagi menjadi tiga peran unik, yaitu ditutup matanya, telinganya, dan mulutnya untuk menghadapi tantangan yang seru untuk membuat hidangan bertema coklat')"
        class="list hidden"
      >
        <i class="bx bx-cake bx-tada"></i>
        <p>Deaf, Blind, Mute Baking</p>
      </div>
      <div
        onclick="showDetail('Round and Round (Dunggulge)', 'bx bx-group bx-tada', 'Permainan tradisional Korea ini mengajak peserta membentuk lingkaran dan bergerak sambil fokus menyanyikan lagu khas dan mendengar instruksi ')"
        class="list hidden"
      >
        <i class="bx bx-group bx-tada"></i>
        <p>Round and Round (Dunggulge)</p>
      </div>
      <div
        onclick="showDetail('E-Sport Valorant', 'bx bx-game bx-tada', 'Pertandingan Valorant menghadirkan suasana seru dan sengit. Peserta akan bertarung lewat game Valorant dengan semangat dan kerja sama tim')"
        class="list hidden"
      >
        <i class="bx bx-game bx-tada"></i>
        <p>E-Sport Valorant</p>
      </div>
      <div
        onclick="showDetail('Blind Make Up', 'bx bx-brush bx-tada', 'Peserta akan merias wajah partnernya dalam keadaan mata tertutup dan menggunakan semua alat makeup yang dibawa, membuat game ini menjadi sebuah tantangan yang lucu dna seru')"
        class="list hidden"
      >
        <i class="bx bx-brush bx-tada"></i>
        <p>Blind Make Up</p>
      </div>
      <div
        onclick="showDetail('Don`t Touch The Colour', 'bx bx-palette bx-tada', 'merupakan sebuah mini games dimana para peserta harus menghindari suatu warna.')"
        class="list hidden"
      >
        <i class="bx bx-palette bx-tada"></i>
        <p>Don`t Touch The Colour</p>
      </div>
      <div
        onclick="showDetail('Guess The Word', 'bx bx-comment-detail bx-tada', 'merupakan perlombaan yang menwajibkan para peserta untuk menebak suatu warna.')"
        class="list hidden"
      >
        <i class="bx bx-comment-detail bx-tada"></i>
        <p>Guess The Word</p>
      </div>
      <div
        onclick="showDetail('Swap The Canvas', 'bx bx-revision bx-tada', 'merupakan workshop dimana para peserta yang telah mendaftar akan saling menukar canvas setiap 5 menit.')"
        class="list hidden"
      >
        <i class="bx bx-revision bx-tada"></i>
        <p>Swap The Canvas</p>
      </div>
      <div
        onclick="showDetail('Dalgona', 'bx bx-cookie bx-tada', 'merupakan sebuah worksop yang mengharuskan para peserta untuk memisahkan bagian tengah dari piringannya. Para peserta yang mematahkan bagian tengah akan gugur.')"
        class="list hidden"
      >
        <i class="bx bx-cookie bx-tada"></i>
        <p>Dalgona</p>
      </div>
      <div
        onclick="showDetail('Velocity Trend', 'bx bx-trending-up bx-tada', 'merupakan perlombaan dimana para peserta akan mengajak para guru untuk membuat trend velocity yang akan di upload di tiktok menggunakan hashtag yang telah di beri.')"
        class="list hidden"
      >
        <i class="bx bx-trending-up bx-tada"></i>
        <p>Velocity Trend</p>
      </div>
    </div>
  </div>

</section>

<!-- Detail -->
<div class="detail" id="detail">
  <div class="detail-container">
    <div class="content">
      <div onclick="closeDetail()" class="close">
        <i class="bi bi-x-circle"></i>
      </div>
      <div class="content-desc">
        <h2 id="detail-heading">Band Performance</h2>
        <p id="detail-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni
          impedit veniam quia quod unde dignissimos officia consequuntur harum.
          Quidem necessitatibus doloribus quae at! Cum hic commodi beatae maxime
          voluptates.
        </p>
      </div>
      <div class="content-logo">
        <i id="detail-logo"></i>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
