{% extends "valiance/layout.html" %} {% block css_js %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/e_savioris.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
  integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

{% endblock css_js %} {% block title %}Savioris{% endblock title %} {% block
main%}
<!-- Banner Section -->
<section class="banner">
  <img
    src="{{ url_for('static', filename='valiance/img/banner/savioris_banner.png') }}"
    alt="banner"
  />
  <section class="gradient-banner"></section>
</section>

<!-- snowfall -->
<div id="snow_fall"></div>
<script src="{{ url_for('static', filename='valiance/js/particle.js') }}"></script>
<script src="{{ url_for('static', filename='valiance/js/snowfall.js') }}"></script>

<!-- audio player -->
<div id="playMusic" class="playMusic">
  <i class="bi bi-play-fill"></i>
</div>

<audio id="christmasSong">
  <source
    src="{{ url_for('static', filename='valiance/audio/christmas_music.mp3') }}"
    type="audio/mp3"
  />
</audio>

<!-- About Section -->
<section class="about">
  <h1 class="hidden">About Savioris</h1>
  <p class="hidden">
    SAVIORIS: adalah sebuah tema yang diambil dari makna mendalam kelahiran
    Kristus, yang membawa sukacita dan kedamaian bagi dunia. Nama ini
    menggambarkan kehadiran Kristus yang menjadi sumber pengharapan dan kasih.
    Savioris mengajak semua orang untuk merayakan momen kelahiran yang penuh
    makna ini dengan hati yang bersyukur, penuh sukacita, dan menyebarkan damai
    bagi sesama.
  </p>

  <div class="kewa">
    <div class="kepan hidden">
      <p><b>Ketua Panitia</b></p>
      <p>Celine Aurelia Tan</p>
    </div>
    <div class="kepan hidden">
      <p><b>Wakil Ketua Panitia</b></p>
      <p>Felicia Monica</p>
    </div>
    <div class="kepan hidden">
      <p><b>Ketua Acara</b></p>
      <p>Kellen Nataline</p>
    </div>
  </div>
</section>

<!-- Content Section -->
<section class="content">
  <!-- Performance Section -->
  <div class="performance">
    <h1 class="hidden">Performances</h1>
    <div class="lists">
      <div
        onclick="showDetail('Band', 'bx bxs-music bx-tada', 'Performance band kali ini menghadirkan suasana natal yang hangat dan penuh sukacita  berasal dari lagu - lagu yang di tampilkan.')"
        class="list hidden"
      >
        <i class="bx bxs-music bx-tada"></i>
        <p>Band</p>
      </div>
      <div
        onclick="showDetail('Ballet', 'bx bxs-group bx-tada', 'Performance Ballet untuk event natal kali ini menggambarkan keajaiban dan juga keindahan melalui tarian dan musik dalam perayaan natal.')"
        class="list hidden"
      >
        <i class="bx bxs-group bx-tada"></i>
        <p>Ballet</p>
      </div>
      <div
        onclick="showDetail('Drama', 'bx bx-male-female bx-tada', 'Performance drama kali ini membawakan kisah lahirnya Tuhan Yesus, dimana ini merupakan inti perayaan natal. Dari drama ini para siswa dapat merenungkan dan mengingat peristiwa yang penuh makna, yaitu lahirnya Sang Juru Selamat di Betlehem.')"
        class="list hidden"
      >
        <i class="bx bxs-group bx-tada"></i>
        <p>Drama</p>
      </div>
    </div>
  </div>

  <!-- Fun Activity Section -->

  <div class="performance">
    <h1 class="hidden">Fun Activities</h1>
    <div class="lists">
      <div
        onclick="showDetail('Movie Time', 'bx bxs-movie-play bx-tada', 'Pada fun activity ini para peserta akan menikmati film pendek yang bertemakan natal melalui vidiotron.')"
        class="list hidden"
      >
        <i class="bx bxs-movie-play bx-tada"></i>
        <p>Movie Time</p>
      </div>
      <div
        onclick="showDetail('Wish Tree', 'bx bxs-tree bx-tada', 'Pada fun activity kali ini para peserta akan menuliskan harapan - harapan mereka disebuah kertas yang telah diberikan.')"
        class="list hidden"
      >
        <i class="bx bxs-tree bx-tada"></i>
        <p>Wish Tree</p>
      </div>
      <div
        onclick="showDetail('Games', 'bx bxs-dice-6 bx-tada', 'Fun activity ini menghadirkan games yang berisi pertanyaan seputar natal dan dirancang untuk menguji pengetahuan para siswa mengenai natal.')"
        class="list hidden"
      >
        <i class="bx bxs-dice-6 bx-tada"></i>
        <p>Games</p>
      </div>
    </div>
  </div>
</section>

<!-- Detail -->
<div class="detail" id="detail">
  <div class="detail-container">
    <div class="content">
      <div onclick="closeDetail()" class="close">
        <i class="bi bi-x-circle"></i>
      </div>
      <div class="content-desc">
        <h2 id="detail-heading">Band Performance</h2>
        <p id="detail-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni
          impedit veniam quia quod unde dignissimos officia consequuntur harum.
          Quidem necessitatibus doloribus quae at! Cum hic commodi beatae maxime
          voluptates.
        </p>
      </div>
      <div class="content-logo">
        <i id="detail-logo"></i>
      </div>
    </div>
  </div>
</div>

<!-- Documentations -->
<section class="hero-section">
  <header class="hero-section__header">
      <h1 class="hero-section__title hidden">Documentations</h1>
  </header>
  <div class="gallery">
      <div class="gallery__container">
          <div class="gallery__item hidden">
              <div class="gallery__item-inner"></div>
          </div>
          <div class="gallery__item hidden">
              <div class="gallery__item-inner"></div>
          </div>
          <div class="gallery__item hidden">
              <div class="gallery__item-inner"></div>
          </div>
          <div class="gallery__item hidden">
              <div class="gallery__item-inner"></div>
          </div>
          <div class="gallery__item hidden">
              <div class="gallery__item-inner"></div>
          </div>
          <div class="gallery__item hidden">
              <div class="gallery__item-inner"></div>
          </div>
      </div>
  </div>
</section>

<svg
  class="waves-footer"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1440 320"
>
  <defs>
    <filter id="waveShadow" x="-50%" y="-50%" width="200%" height="200%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="10" result="blur" />
      <feOffset in="blur" dx="0" dy="0" result="offsetBlur" />
      <feFlood flood-color="white" flood-opacity="1" result="color" />
      <feComposite in2="offsetBlur" operator="in" result="shadow" />
      <feMerge>
        <feMergeNode in="shadow" />
        <feMergeNode in="SourceGraphic" />
      </feMerge>
    </filter>
  </defs>

  <path
    filter="url(#waveShadow)"
    fill="rgb(14, 124, 82)"
    fill-opacity="1"
    d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
  ></path>
</svg>

<script>
  let playBtn = document.getElementById("playMusic");
  let song = document.getElementById("christmasSong");
  let icon = playBtn.querySelector("i");

  playBtn.onclick = function () {
    if (song.paused) {
      song.play();
      icon.className = "bi bi-pause";
    } else {
      song.pause();
      icon.className = "bi bi-play-fill";
    }
  };
</script>

{% endblock main %}
