{% extends "valiance/layout.html" %} {% block css_js %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/events.css') }}"
/>
{% endblock css_js %} {% block title %}Events{% endblock title %} {% block main
%}
<div class="event-wrap">
  <h1 class="past" id="past">Our Events</h1>

  <section class="event past mb-5">
    <a href="{{ url_for('e_luminance') }}"
      ><img
        id="luminance"
        src="{{ url_for('static', filename='valiance/img/banner/luminance_banner.jpg') }}"
    /></a>
    <a href="{{ url_for('e_questival') }}"
      ><img
        id="questival"
        src="{{ url_for('static', filename='valiance/img/banner/questival_banner.jpg') }}"
    /></a>
    <a href="{{ url_for('e_eterlight') }}"
      ><img
        id="eterlight"
        src="{{ url_for('static', filename='valiance/img/banner/eterlight_banner.png') }}"
    /></a>
    <a href="{{ url_for('e_vaisakha') }}"
      ><img
        id="vaisakha"
        src="{{ url_for('static', filename='valiance/img/banner/vaisakha_banner.jpeg') }}"
    /></a>
    <a href="{{ url_for('e_estrevo') }}"
      ><img
        id="estrevo"
        src="{{ url_for('static', filename='valiance/img/banner/estrevo_banner.png') }}"
    /></a>
    <a href="{{ url_for('e_tamiera') }}"
      ><img
        id="tamiera"
        src="{{ url_for('static', filename='valiance/img/banner/Tamiera_Banner_Fix.jpg') }}"
    /></a>
    <a href="{{ url_for('e_serenite') }}"
      ><img
        id="serenite"
        src="{{ url_for('static', filename='valiance/img/banner/serenite_banner.png') }}"
    /></a>
    <a href="{{ url_for('e_cny') }}"
      ><img
        id="cny"
        src="{{ url_for('static', filename='valiance/img/banner/shehuajie_banner.png') }}"
    /></a>
    <a href="{{ url_for('e_savioris') }}"
      ><img
        id="savioris"
        src="{{ url_for('static', filename='valiance/img/banner/savioris_banner.png') }}"
    /></a>
    <a href="{{ url_for('e_atheria') }}"
      ><img
        id="atheria"
        src="{{ url_for('static', filename='valiance/img/banner/atheria_banner.jpg') }}"
    /></a>
    <a href="{{ url_for('e_kandela') }}"
      ><img
        id="kandela"
        src="{{ url_for('static', filename='valiance/img/banner/kandela_banner.png') }}"
    /></a>
    <a href="{{ url_for('e_euphony') }}"
      ><img
        id="euphony"
        src="{{ url_for('static', filename='valiance/img/banner/euphony_banner.jpg') }}"
    /></a>
  </section>
</div>
{% endblock main %}
