{% extends "valiance/layout.html" %} {% block css_js %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/index.css') }}"
/>
{% endblock css_js %} {% block title %}Valiance{% endblock title %} {% block
main %}

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <div class="hero-text-left hidden">
      <h1>KABINET</h1>
      <h1>VALIANCE</h1>
    </div>
    <img
      src="{{ url_for('static', filename='valiance/img/logo/valiancelogo.png') }}"
      alt="Valiance Logo"
      class="hero-logo hidden"
    />
    <div class="hero-text-right hidden">
      <h1>OSIS SMA IGS</h1>
      <h1>2024/2025</h1>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!-- Carousel Section -->
<section class="main hidden">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="6"
        aria-label="Slide 7"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="7"
        aria-label="Slide 8"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="8"
        aria-label="Slide 9"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="9"
        aria-label="Slide 10"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="10"
        aria-label="Slide 11"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{{ url_for('e_questival') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/questival_banner.jpg') }}"
            class="d-block w-100"
            alt="Questival Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_eterlight') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/eterlight_banner.png') }}"
            class="d-block w-100"
            alt="Eterlight Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_vaisakha') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/vaisakha_banner.jpeg') }}"
            class="d-block w-100"
            alt="Vaisakha Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_estrevo') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/estrevo_banner.png') }}"
            class="d-block w-100"
            alt="Estrevo Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_tamiera') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/Tamiera_Banner_Fix.jpg') }}"
            class="d-block w-100"
            alt="Tamiera Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_serenite') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/serenite_banner.png') }}"
            class="d-block w-100"
            alt="Serenite Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_cny') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/shehuajie_banner.png') }}"
            class="d-block w-100"
            alt="She Hua Jie Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_savioris') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/savioris_banner.png') }}"
            class="d-block w-100"
            alt="Savioris Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_atheria') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/atheria_banner.jpg') }}"
            class="d-block w-100"
            alt="Atheria Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_kandela') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/kandela_banner.png') }}"
            class="d-block w-100"
            alt="Kandela Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('e_euphony') }}">
          <img
            src="{{ url_for('static', filename='valiance/img/banner/euphony_banner.jpg') }}"
            class="d-block w-100"
            alt="Euphony Banner"
          />
        </a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- End Carousel Section -->

<!-- About Section -->
<div class="bg-wrap">
  <section class="about">
    <div class="about-text">
      <h1 class="text-shadow hidden">VALIANCE</h1>
      <p class="text-shadow hidden">
        Valiance merupakan nama kabinet OSIS SMA IGS periode 2024/2025. Valiance
        berarti "kegagahan dan keberanian" yang bermakna bahwa OSIS SMA IGS
        adalah organisasi yang gagah dan tegar dalam menghadapi berbagai macam
        masalah atau konflik apapun. Dan organisasi yang berani untuk bekerja,
        berani untuk lelah, dan berani untuk bertanggung jawab.
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='valiance/img/logo/transparent_logo.png') }}"
      alt="Valiance Transparent Logo"
      class="hidden"
    />
  </section>
</div>
<!-- End About Section -->

<!-- AI Showcase Section -->
<section class="ai-showcase">
  <img
    src="{{ url_for('static', filename='valiance/img/index/ai-assistant.png') }}"
    alt="Val Showcase"
    class="showcase-img hidden"
  />
  <h2 class="showcase-title hidden">INTRODUCING OUR OWN AI ASSISTANT</h2>
  <p class="showcase-text hidden">
    Kunjungi valthephoenix.osissmaigs.com dan chat langsung dengan Val, asisten
    AI yang siap membantu dengan cepat dan memberikan pengalaman interaktif. !
  </p>
  <a
    href="https://valthephoenix.osissmaigs.com"
    target="_blank"
    class="showcase-button hidden"
    >Try Val</a
  >
</section>
<!-- End AI Showcase Section -->

<!-- About Us Showcase Section -->
<section class="about-showcase">
  <h2 class="about-title hidden">About Us</h2>
  <img
    src="{{ url_for('static', filename='valiance/img/index/fotbar_kabinet.png') }}"
    alt="OSIS Team"
    class="about-img hidden"
  />
  <p class="about-text-showcase hidden">
    Curious about the faces behind our organization? Get to know each section of
    our student council — names, photos, and more. See who's making it all
    happen!
  </p>
  <a href="{{ url_for('about_us') }}" class="about-button hidden">Click Here</a>
</section>
<!-- End About Us Showcase Section -->

<!-- Prior Cabinets Section -->
<section class="prior-cabinets">
  <h1 class="heading hidden">Our Prior Cabinets</h1>
  <div class="cabinet-card-wrap">
    <div class="cabinet-card hidden">
      <img
        src="{{ url_for('static', filename='valiance/img/logo/asteration_transparent.png') }}"
        alt="Asteration Logo"
        class="cabinets-logo"
      />
      <h5 class="subheading">Asteration</h5>
      <p class="cabinet-description">
        Kabinet OSIS SMA Ignatius Global School periode 2023/2024
      </p>
      <a
        href="https://asteration.osissmaigs.com/"
        class="cabinets-button hidden"
        target="_blank"
        >Click Here</a
      >
    </div>
    <div class="cabinet-card hidden">
      <img
        src="{{ url_for('static', filename='valiance/img/logo/credence_transparent.png') }}"
        alt="Credence Logo"
        class="cabinets-logo"
      />
      <h5 class="subheading">Credence</h5>
      <p class="cabinet-description">
        Kabinet OSIS SMA Ignatius Global School periode 2022/2023
      </p>
      <a href="{{ url_for('credence') }}" class="cabinets-button hidden"
        >Click Here</a
      >
    </div>
  </div>
</section>
<!-- End Prior Cabinets Section -->

{% endblock main %}
