{% extends "valiance/layout.html" %} {% block css_js %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/index.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='valiance/css/coming_soon.css') }}"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='valiance/css/magazine.css') }}" />
{% endblock css_js %} {% block title %}Magazine{% endblock title %} {% block
main %}
<div class="magazine-container">
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page1.webp') }}"
      alt="page1"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page2.webp') }}"
      alt="page2"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page3.webp') }}"
      alt="page3"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page4.webp') }}"
      alt="page4"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page5.webp') }}"
      alt="page5"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page6.webp') }}"
      alt="page6"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page7.webp') }}"
      alt="page7"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page8.webp') }}"
      alt="page8"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page9.webp') }}"
      alt="page9"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page10.webp') }}"
      alt="page10"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page11.webp') }}"
      alt="page11"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page12.webp') }}"
      alt="page12"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page13.webp') }}"
      alt="page13"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page14.webp') }}"
      alt="page14"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page15.webp') }}"
      alt="page15"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page16.webp') }}"
      alt="page16"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page17.webp') }}"
      alt="page17"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page18.webp') }}"
      alt="page18"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page19.webp') }}"
      alt="page19"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page20.webp') }}"
      alt="page20"
    />
  </div>
  <div class="magazine-pages">
    <img
      src="{{ url_for('static', filename='valiance/img/magazine/page21.webp') }}"
      alt="page21"
    />
  </div>
</div>
{% endblock main %}
