{% extends "valiance/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/lomba_questival.css') }}">

	<script>
		let enableSend = true;
		document.addEventListener("DOMContentLoaded", () => {
			const scriptURL = 'https://script.google.com/macros/s/AKfycbwslBadQLvPvKQsJXO90n6k2mzqJvWn_xNZoOGHojJBetfCE8IGFyt-4OhRj--UYt4y/exec';
			const form = document.getElementById("dynamicForm");
			const formStatus = document.getElementById("formStatus");
			const popupOverlay = document.getElementById("popupOverlay");
			const closeButton = document.getElementById("closeButton");
	
			popupOverlay.addEventListener('click', function(e) {
				if (e.target === this) {
					closePopup();
				}
			});
	
			closeButton.addEventListener('click', closePopup);
			closeButton.addEventListener('touchend', function(e) {
				e.preventDefault();
				closePopup();
			});
	
			form.addEventListener("submit", e => {
				if (enableSend){
					e.preventDefault();
					formStatus.textContent = "Mengirim data...";
					formStatus.className = "status";
					enableSend = false;
					const formData = new FormData(form);
					formData.append("formType", "Lomba Squid Game 5v5");
	
					fetch(scriptURL, { method: "POST", body: formData })
						.then(response => response.json())
						.then(data => {
							if (data.status === "success") {
								formStatus.textContent = "";
								form.reset();
								showPopup();
							} else if (data.status === "error" && data.message === "Peserta sudah penuh") {
								formStatus.textContent = "Peserta sudah penuh. Tidak bisa mendaftar.";
								formStatus.className = "status error";
							} else {
								throw new Error(data.message || "Gagal mengirim data.");
							}
							enableSend = true;
						})
						.catch(error => {
							formStatus.textContent = "Gagal mengirim data. Silakan coba lagi.";
							formStatus.className = "status error";
							console.error("Error!", error.message);
							enableSend = true;
						});
				}
			});
		});
	
		function showPopup() {
			document.getElementById("popupOverlay").style.display = "flex";
		}
	
		function closePopup() {
			document.getElementById("popupOverlay").style.display = "none";
		}
	</script>
{% endblock css_js %}

{% block title %}Lomba Squid Game 5v5{% endblock title %}

{% block main %}

	<!-- MEKANISME DAN POSTER -->
	<div class="container">
		<div>
			<h1 class="title">Lomba Squid Game 5v5</h1>
			<div class="mechanism">
				<h4 class="sub-title">Six Legged Pentathlon 5v5</h4>
				<ul>
					<li>Setiap kelas mengirimkan tim terdiri dari 5 orang (10 kaki total)</li>
					<li>Terdapat 5 babak permainan</li>
					<li>Saat satu peserta bermain, 3 anggota lainnya menunggu sampai permainan selesai</li>
					<li>Setelah pemain 1 selesai di permainan 1, pemain 2 maju ke permainan 2, dan seterusnya sampai pemain 5.</li>
					<li>Tim yang kalah di babak tersebut langsung gugur dan keluar dari lomba</li>
					<li>Proses berlanjut sampai tersisa 1 tim pemenang</li>
				</ul>
				<h5 style="margin-top: 1rem;">Ddakji (Balik Kertas Lipat)</h5>
				<ul>
					<li>Pemain melempar ddakji.</li>
					<li>Pemain diharuskan untuk membalik ddakji yang ada dilantai.</li>
					<li>Pemain yang berhasil membalik, lanjut ke permainan selanjutnya</li>
				</ul>
				<h5 style="margin-top: 1rem;">Biseokchigi (Lempar Batu ke Target)</h5>
				<ul>
					<li>Pemain melempar batu ke batu target</li>
					<li>Pemain yang menjatuhkan batu dengan cepat lanjut ke permainan selanjutnya</li>
				</ul>
				<h5 style="margin-top: 1rem;">Gonggi (Main Batu Kecil)</h5>
				<ul>
					<li>Pemain mencoba menyelesaikan level 1 sampai 4.</li>
					<li>Pemain yang berhasil menyelesaikan level dengan cepat lanjut ke permainan selanjutnya</li>
				</ul>
				<h5 style="margin-top: 1rem;">Paengi Chigi (Gasing Tradisional)</h5>
				<ul>
					<li>Pemain memutar gasing.</li>
					<li>Pemain yang gasingnya berputar lanjut ke permainan selanjutnya</li>
				</ul>
				<h5 style="margin-top: 1rem;">Bottle Flip</h5>
				<ul>
					<li>Pemain melempar Botol berisi air</li>
					<li>Pemain yang berhasil mendaratkan botol dalam posisi berdiri tegak lanjut ke permainan selanjutnya</li>
				</ul>
			</div>
		</div>
		<img 
			src="{{ url_for('static', filename='valiance/img/questival/lomba_squid_game.jpeg') }}"
			alt="Lomba Squid Game 5v5"
		></img>
	</div>

	<!-- Registration -->
	<h2 class="regis">Registration</h2>
	<div class="form-container mb-3">
	    <form id="dynamicForm" onsubmit="return false;">
	        <!-- Input Nama Kapten -->
	        <div class="form-group">
	            <label for="nama-kapten">Nama Kapten:</label>
	            <input type="text" id="nama-kapten" name="nama-kapten" required>
	        </div>

	        <!-- Input Nama Anggota 1 -->
	        <div class="form-group">
	            <label for="nama-anggota-1">Nama Anggota 1:</label>
	            <input type="text" id="nama-anggota-1" name="nama-anggota-1" required>
	        </div>

			<!-- Input Nama Anggota 2 -->
	        <div class="form-group">
	            <label for="nama-anggota-2">Nama Anggota 2:</label>
	            <input type="text" id="nama-anggota-2" name="nama-anggota-2" required>
	        </div>

			<!-- Input Nama Anggota 3 -->
	        <div class="form-group">
	            <label for="nama-anggota-3">Nama Anggota 3:</label>
	            <input type="text" id="nama-anggota-3" name="nama-anggota-3" required>
	        </div>

			<!-- Input Nama Anggota 4 -->
	        <div class="form-group">
	            <label for="nama-anggota-4">Nama Anggota 4:</label>
	            <input type="text" id="nama-anggota-4" name="nama-anggota-4" required>
	        </div>

	        <!-- Input Kelas -->
	        <div class="form-group">
	            <label for="kelas">Kelas:</label>
	            <input type="text" id="kelas" name="kelas" required>
	        </div>

	        <!-- Input ID Line -->
	        <div class="form-group">
	            <label for="idline">ID Line:</label>
	            <input type="text" id="idline" name="idline" required>
	        </div>

            <input type="hidden" id="maxParticipants" name="maxParticipants" value="9999">
	        <button type="submit">Kirim</button>
	    </form>
	    <div class="status" id="formStatus"></div>
	</div>

	<!-- Popup Overlay -->
	<div id="popupOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 9999; justify-content: center; align-items: center;">
		<div style="background: rgb(222, 216, 196); color: black; padding: 20px; border-radius: 10px; width: 90%; max-width: 400px; margin: 20px;">
			<div class="modal-body">
				<p>Formulir berhasil dikirim! 🎉</p>
				<div class="tenor-gif-embed" data-postid="2765053846345995775" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/thanos-thanos-squid-game-thansoni-player-230-squid-game-gif-2765053846345995775">Thanos Thanos Squid Game GIF</a>from <a href="https://tenor.com/search/thanos-gifs">Thanos GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
				<p>Untuk info lebih lanjut, silakan join grup LINE khusus lomba ini:</p>
				<a href="https://line.me/R/ti/g/rP568LhhDN" target="_blank">Klik di sini untuk join grup Line</a>
				<br><br>
			</div>
			<button 
				id="closeButton"
				style="padding: 10px 20px; background: rgb(124, 28, 28); color: white; border: none; border-radius: 5px; cursor: pointer; margin-top: 10px; user-select: none; -webkit-user-select: none; -webkit-tap-highlight-color: transparent; touch-action: manipulation;"
			>Tutup</button>
		</div>
	</div>
	<svg
	    class="waves-footer"
	    xmlns="http://www.w3.org/2000/svg"
	    viewBox="0 0 1440 320"
	  >
	    <path
	      fill-opacity="1"
	      d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
	    ></path>
	</svg>
{% endblock main %} 