{% extends "valiance/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/lomba_questival.css') }}">

	<script>
		// No form-specific JavaScript needed for this page
		document.addEventListener("DOMContentLoaded", () => {
			// Basic JS if any common script is needed, otherwise can be empty or removed
		});
	</script>
{% endblock css_js %}

{% block title %}Minigames Eye Contact{% endblock title %}

{% block main %}

	<!-- MEKANISME DAN POSTER -->
	<div class="container">
		<div>
			<h1 class="title">Minigames Eye Contact</h1>
			<div class="mechanism">
				<h4 class="sub-title">Mekanisme:</h4>
				<ol>
					<li>Permainan dimainkan oleh 2 hingga 4 orang</li>
					<li>Seluruh peserta akan duduk berhadapan dan memejamkan mata secara serentak.</li>
					<li>Secara bergiliran, masing-masing peserta akan membuka mata dan membuat ekspresi lucu tanpa sepengetahuan peserta lainnya.</li>
					<li>Ketika peserta saling membuka mata dan bertatapan, peserta tidak diperbolehkan untuk tertawa.</li>
					<li>Permainan akan terus berlanjut hingga hanya tersisa satu peserta yang belum tertawa.</li>
				</ol>
			</div>
		</div>
		<img 
			src="{{ url_for('static', filename='valiance/img/questival/minigames_eye_contact.jpeg') }}"
			alt="Minigames Eye Contact"
		></img>
	</div>

	<!-- No Registration Section for this page -->

	<svg
	    class="waves-footer"
	    xmlns="http://www.w3.org/2000/svg"
	    viewBox="0 0 1440 320"
	  >
	    <path
	      fill-opacity="1"
	      d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
	    ></path>
	</svg>
{% endblock main %} 