{% extends "valiance/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/lomba.css') }}">

	<script>
		let enableSend = true;
	    document.addEventListener("DOMContentLoaded", () => {
	        const scriptURL = 'https://script.google.com/macros/s/AKfycbwRyDnESEOyc5hZh66Cs_QNZ6WlYco32rvKam1zB6I9aOSd5BUBfDQqqeAp2dPGAodP/exec';
	        const form = document.getElementById("dynamicForm");
	        const formStatus = document.getElementById("formStatus");
	        const popupOverlay = document.getElementById("popupOverlay");

	        form.addEventListener("submit", e => {
				if (enableSend){
	            e.preventDefault(); // Prevent page reload
	            formStatus.textContent = "Mengirim data...";
	            formStatus.className = "status";
				enableSend = false;
	            const formData = new FormData(form);
	            formData.append("formType", "Classwar"); // Nama sheet

	            fetch(scriptURL, { method: "POST", body: formData })
	                .then(response => response.json()) // Parse response JSON
	                .then(data => {
	                    if (data.status === "success") {
	                        formStatus.textContent = "";
	                        form.reset();
	                        popupOverlay.style.display = "block"; // Tampilkan popup
	                    } else if (data.status === "error" && data.message === "Peserta sudah penuh") {
	                        formStatus.textContent = "Peserta sudah penuh. Tidak bisa mendaftar.";
	                        formStatus.className = "status error";
	                    } else {
	                        throw new Error(data.message || "Gagal mengirim data.");
	                    }
						enableSend = true;
	                })
	                .catch(error => {
	                    formStatus.textContent = "Gagal mengirim data. Silakan coba lagi.";
	                    formStatus.className = "status error";
	                    console.error("Error!", error.message);
						enableSend = true;
	                });
				}
	        });
	    });

	    function closePopup() {
	        document.getElementById("popupOverlay").style.display = "none";
	    }
	</script>
{% endblock css_js %}

{% block title %}Classwar{% endblock title %}

{% block main %}

	<!-- MEKANISME DAN POSTER -->

	<div class="container">
		<div>

		<h1 class="title">Classwar</h1>
		<div class="mechanism">
			        <h4 class="sub-title">Mekanisme</h4>
			        <p>Pertandingan akan dibagi menjadi 3 ronde. Akan ada tema permainan yang berbeda di tiap rondenya. 
                <br>
                Pada ronde pertama, panitia akan memberikan total 30 soal yang terdiri dari 20 soal matematika dan 10 soal pengetahuan umum. Peserta hanya diberikan waktu 30 menit pada babak ini, dan peserta yang mengumpulkan jawaban secara cepat akan mendapatkan poin tambahan. 8 orang dengan poin tertinggi akan lanjut ke ronde selanjutnya.
                <br>
                Pada ronde kedua, panitia akan menampilkan grocery list pada layar proyektor. Pada babak ini, pertandingan bersifat 4 vs 4 yang mana peserta akan dibagi menjadi dua tim. Akan ada total 50 list barang dan harga yang harus dihafal oleh perserta dan waktu yang diberikan untuk menghafal hanya 15 menit. Panitia akan memberikan 30 soal pada babak ini. Tim dengan poin tertinggi akan masuk ke ronde terakhir.
                <br>
                Di ronde ketiga, peserta akan dibagi menjadi 2 sesi yaitu head to head dan memainkan TIC TAC TOE serta mengerjakan soal secara cepat - cepatan dengan menekan bel. Penentu pemenang juara 1, 2 & 3 akan dilakukan melalui poin tertinggi.
			        </p>
			        <h4 class="sub-title">Peraturan</h4>
			        <p>Setiap kelas wajib mengirimkan 1 orang sebagai perwakilan.
                <br>
                Peserta wajib mendaftar melalui website osis dan masuk ke grup lomba classwar.
                <br>
                Peserta diharapkan sudah hadir di ruangan 10 menit sebelum lomba dimulai.
                <br>
                Peserta tidak diperbolehkan menggunakan alat bantu apapun, seperti kalkulator, smartphone, atau perangkat elektronik lainnya selama lomba sedang berlangsung.
                <br>
                Peserta diharapkan untuk menjaga suasana tetap kondusif dan tidak membuat keributan selama lomba sedang berlangsung.
                <br>
                Segala bentuk kecurangan tidak akan ditoleransi.
                <br>
                Keputusan juri bersifat final dan tidak dapat diganggu gugat.
			        </p>
		</div>
		</div>
		<img 
			src="{{ url_for('static', filename='valiance/img/atheria/classwar.jpg') }}"
			alt="Classwar"
		></img>
	</div>

					
	<!-- Registration -->
	<h2 class="regis">Registration</h2>
	<div class="form-container">
	   
	    <form id="dynamicForm" onsubmit="return false;">
	        <!-- Input Nama -->
	        <div class="form-group">
	            <label for="nama">Nama:</label>
	            <input type="text" id="nama" name="nama" required>
	        </div>

	        <!-- Input Kelas -->
	        <div class="form-group">
	            <label for="kelas">Kelas:</label>
	            <input type="text" id="kelas" name="kelas" required>
	        </div>

	        <!-- Input ID Line -->
	        <div class="form-group">
	            <label for="idline">ID Line:</label>
	            <input type="text" id="idline" name="idline" required>
	        </div>

			<!-- Input for Max Participants -->
            <input type="hidden" id="maxParticipants" name="maxParticipants" value="99999">

	        <!-- Tombol Submit -->
	        <button type="submit">Kirim</button>
	    </form>
	    <div class="status" id="formStatus"></div>
	</div>

	<!-- Popup Overlay -->
	<div id="popupOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 9999; color: white; text-align: center; padding-top: 20%;">
	    <div style="background: white; color: black; padding: 20px; border-radius: 10px; display: inline-block;">
	        <p>Silahkan join link grup Line ini:</p>
	        <a href="https://line.me/ti/g/hVbEUP6h63" target="_blank">Klik di sini untuk join grup Line</a>
	        <br><br>
	        <button onclick="closePopup()" style="padding: 10px 20px; background: rgb(124, 28, 28); color: white; border: none; border-radius: 5px; cursor: pointer;">Tutup</button>
	    </div>
	</div>

	<svg
	    class="waves-footer"
	    xmlns="http://www.w3.org/2000/svg"
	    viewBox="0 0 1440 320"
	  >
	 
	    <path
	      fill="rgb(248, 211, 67)"
	      fill-opacity="1"
	      d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
	    ></path>
	</svg>
{% endblock main %}